<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  lang="en">
<th:block th:fragment="footer">
    <footer class="iq-footer mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 d-flex justify-content-between">
                   <strong> CODEGYM HUẾ - 2022</strong>
                      <a class="font-size-20 font-weight-bolder" href="#"> &nbsp TTS-Noodle &nbsp <i class="ri-heart-fill"></i></a>

                </div>
                <div class="col-lg-5 text-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#">Văn Thiện</a></li>
                        <li class="list-inline-item"><a href="#">Thiện Tài</a></li>
                        <li class="list-inline-item"><a href="#">Bảo Sinh</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>