
.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.selectpicker{
    height: 36px;
    width: 150px;
    border-radius: 25px
}

.selectProfit{
    height: 36px;
    width: 160px;
 }
.name_chart{
    font-size: 15px;
    margin-left: 50px;
}
.name_debt{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 15px;
}

#debt{
    color: red;
}

.cardDebt{
    height: 248px;
}

.detailDebt{
    position: absolute;
    bottom: 0;
    right: 24px;
}

.test{
   text-align: center;
}

.label{
    color: black;
}

.label + input{
    font-size: 18px;
}