@page {
    size: A4;
    margin: 20px;
}
@media print {

    #noPrint {
        display: none;
    }
    #content-page {
        display: none;
    }

    .iq-sidebar {
        display: none;
    }

    .iq-top-navbar {
        display: none;
    }

    .iq-footer {
        display: none;
    }

    .noPrint {
        display: none;
    }

    head {
        display: none;
    }
}