<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"/>
</head>

<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<div class="wrapper">
    <!-- Sidebar  -->
    <th:block th:replace="/layout/sidebar/left_side_bar :: left_side_bar"/>

    <!-- TOP Nav Bar -->
    <th:block th:replace="/layout/topNav/topNav :: topNav"/>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body iq-box-relative">
                            <div class="iq-box-absolute icon iq-icon-box rounded-circle iq-bg-primary">
                                <i class="ri-focus-2-line"></i>
                            </div>
                            <p class="text-secondary">Doanh Số</p>
                            <div id="doanhSo" class="d-flex align-items-center justify-content-between">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body iq-box-relative">
                            <div class="iq-box-absolute icon iq-icon-box rounded-circle iq-bg-danger">
                                <i class="ri-pantone-line"></i>
                            </div>
                            <p class="text-secondary">Số Đơn Gạo
                            <div id="donNhap" class="d-flex align-items-center justify-content-between">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body iq-box-relative">
                            <div class="iq-box-absolute icon iq-icon-box rounded-circle iq-bg-success">
                                <i class="ri-database-2-line"></i>
                            </div>
                            <p class="text-secondary">Số Đơn Bún</p>
                            <div id="donXuat" class="d-flex align-items-center justify-content-between">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body iq-box-relative">
                            <div class="iq-box-absolute icon iq-icon-box rounded-circle iq-bg-warning">
                                <i class="ri-pie-chart-2-line"></i>
                            </div>
                            <p class="text-secondary">Khách Hàng Nợ</p>
                            <div id="totalDebtCus" class="d-flex align-items-center justify-content-between">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body iq-box-relative">
                            <div class="iq-box-absolute icon iq-icon-box rounded-circle iq-bg-warning">
                                <i class="ri-pie-chart-2-line"></i>
                            </div>
                            <p class="text-secondary">Nợ NCC</p>
                            <div id="totalDebtSup" class="d-flex align-items-center justify-content-between">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class=" item min-vh-100 d-flex flex-column justify-content-center">
                        <div style="background-color: #ffffff">
                            <div class="row my-3">
                                <div class="col name_chart">
                                    <h4>Thống Kê Số Lượng (KG)</h4>
                                </div>
                                <div class="mr-5">
                                    <label>
                                        <select id="quantityNR" class="selectpicker text-center">
                                            <option selected value="toDay">Hôm Nay</option>
                                            <option value="sevenDay">7 Ngày Gần Nhất</option>
                                            <option value="oneMonth">30 Ngày Gần Nhất</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div style="background-color: #ffffff" class="card-body">
                                            <canvas selected style="display: block" id="chartQuantity1day"
                                                    height="100"></canvas>
                                            <canvas style="display: none" id="chartQuantity1week" height="100"></canvas>
                                            <canvas style="display: none" id="chartQuantity1month"
                                                    height="100"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div style="background-color: #ffffff">
                            <div class="row my-3">
                                <div class="col name_chart">
                                    <h4>Doanh Thu Bán Bún (VNĐ)</h4>
                                </div>
                                <div class="mr-5">
                                    <label>
                                        <select id="statistical" class="selectpicker text-center">
                                            <option selected value="toDay">Hôm Nay</option>
                                            <option value="sevenDay">7 Ngày Gần Nhất</option>
                                            <option value="oneMonth">30 Ngày Gần Nhất</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div style="background-color: #ffffff" id="charts" class="card-body">
                                            <canvas style="display: block" id="chartOneDay" height="100"></canvas>
                                            <canvas style="display: none" id="chart7day" height="100"></canvas>
                                            <canvas style="display: none" id="chart1month" height="100"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- bar chart -->
                <div class="col-sm-6 ">
                    <div class=" item min-vh-100 d-flex flex-column justify-content-center">
                        <div style="background-color: #ffffff">
                            <div class="row my-3">
                                <div class="col name_chart">
                                    <h4>Top 5 Khách Hàng Nợ (VNĐ) </h4>
                                </div>
                                <div class="mr-5">
                                    <label>

                                    </label>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <div class="cardDebt">
                                        <div style="background-color: #ffffff" class="card-body">
                                            <canvas id="chartDebt" height="100"></canvas>
                                        </div>
                                        <div class="detailDebt">
                                            <a href="/customer" class="btn btn-outline-warning">Xem Chi Tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div style="background-color: #ffffff">
                            <div class="row my-3">
                                <div class="col name_chart">
                                    <h4>Top 5 NNC Đang Nợ (VNĐ)</h4>
                                </div>
                                <div class="mr-5">
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <div class="cardDebt">
                                        <div style="background-color: #ffffff" class="card-body">
                                            <canvas style="display: block" id="chartDebtSup" height="100"></canvas>
                                        </div>
                                        <div class="detailDebt">
                                            <a href="/supplier" class="btn btn-outline-warning">Xem Chi Tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <th:block th:replace="/layout/footer/footer.html"></th:block>
</div>
<!-- Footer END -->
<th:block th:replace="/layout/script/footer :: footer"/>

</body>
<script>


    let order = new Order();
    let user = new User();

    let dayyy = new Date().getDate();
    let todayNow = new Date().getDay();
    let day_name = "";
    switch (todayNow) {
        case 0:
            day_name = "Chủ nhật";
            break;
        case 1:
            day_name = "Thứ hai";
            break;
        case 2:
            day_name = "Thứ ba";
            break;
        case 3:
            day_name = "Thứ tư";
            break;
        case 4:
            day_name = "Thứ năm";
            break;
        case 5:
            day_name = "Thứ sáu";
            break;
        case 6:
            day_name = "Thứ bảy";
    }

    $("#statistical").on('change', () => {
        let getValue = $('#statistical').val();
        let chartOD = $("#chartOneDay");
        let chartOW = $("#chart7day");
        let chartOM = $("#chart1month");
        switch (getValue) {
            case "toDay":
                chartOD.css('display', 'block');
                chartOW.css('display', 'none');
                chartOM.css('display', 'none');
                chartToDay();
                break;
            case "sevenDay" :
                chartOD.css('display', 'none');
                chartOM.css('display', 'none');
                chartOW.css('display', 'block');
                chartSevenDay();
                break;
            case "oneMonth" :
                chartOW.css('display', 'none');
                chartOD.css('display', 'none');
                chartOM.css('display', 'block');
                chartOneMonth();
                break;
            default :
                alert("hazz")
        }
    })

    $("#quantityNR").on('change', () => {
        let getValue = $('#quantityNR').val();
        let chartOD = $("#chartQuantity1day");
        let chartOW = $("#chartQuantity1week");
        let chartOM = $("#chartQuantity1month");
        switch (getValue) {
            case "toDay":
                chartOD.css('display', 'block');
                chartOW.css('display', 'none');
                chartOM.css('display', 'none');
                chartQuantityNR1Day();
                break;
            case "sevenDay" :
                chartOD.css('display', 'none');
                chartOM.css('display', 'none');
                chartOW.css('display', 'block');
                chartQuantityNR1Week();
                break;
            case "oneMonth" :
                chartOW.css('display', 'none');
                chartOD.css('display', 'none');
                chartOM.css('display', 'block');
                chartQuantityNR1Month();
                break;
            default :
                alert("hazz")
        }
    })

    function chartToDay() {

        $.ajax({
            headers:
                {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
            type: "GET",
            url: "http://localhost:8080/api/orders/chartOneDay",
        }).done((data) => {
            let total = data;
            let colors = ['#00DD00', '#FF99FF', '#CC66FF', '#FF6600', '#FF3366', '#BFEFFF'];
            let chartOneDay = document.getElementById("chartOneDay").getContext('2d');
            let chartStatus = Chart.getChart("chartOneDay");
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            let chartDataSell = {
                labels: [day_name + " / " + dayyy],
                datasets: [
                    {
                        label: 'Bún',
                        data: [total],
                        backgroundColor: colors[4],
                        barThickness: 100,
                    }
                ]
            };
            if (chartOneDay) {
                new Chart(chartOneDay, {
                    type: 'bar',
                    data: chartDataSell,
                    options: {
                        scales: {
                            xAxes: [{
                                barPercentage: 0.4,
                                categoryPercentage: 0.5,
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            }
        }).fail((jqXHR) => {
            console.log(jqXHR)
        })
    }

    chartToDay();

    function chartSevenDay() {

        $.ajax({
            headers: {
                'accept': "application/json",
                'content-type': "application/json"
            },
            type: 'GET',
            url: "http://localhost:8080/api/orders/chartSevenDay"
        }).done((data) => {
            let days = [];
            let total = [];
            $.each(data, (i, orderSD) => {
                // console.log(orderSD, "order7day")
                total.push(orderSD.grandTotal)
                days.push(moment(orderSD.createdAt).date());
            })
            let colors = ['#00DD00', '#FF99FF', '#CC66FF', '#FF6600', '#FF3366', '#BFEFFF'];
            let chart7day = document.getElementById("chart7day").getContext('2d');
            let chartStatus = Chart.getChart("chart7day");
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            myChart = new Chart(chart7day, {
                type: 'bar',
                data: {
                    labels: [...days],
                    datasets: [
                        {
                            label: 'Bún',
                            data: [...total],
                            backgroundColor: colors[4],
                            barThickness: 50,
                        }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{
                            barPercentage: 0.4,
                            categoryPercentage: 0.5,
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            })

        }).fail((jqXHR) => {
            console.log(jqXHR)
        })
    }

    // chartSevenDay();

    function chartOneMonth() {
        $.ajax({
            headers: {
                'accept': "application/json",
                'content-type': "application/json"
            },
            type: 'GET',
            url: "http://localhost:8080/api/orders/chartOneMonth"
        }).done((data) => {
            let days = [];
            let total = [];
            $.each(data, (i, orderSD) => {
                // console.log(orderSD, "order7day")
                total.push(orderSD.grandTotal)
                days.push(moment(orderSD.createdAt).date());
            })
            let colors = ['#00DD00', '#FF99FF', '#CC66FF', '#FF6600', '#FF3366', '#BFEFFF'];
            let chart7day = document.getElementById("chart1month").getContext('2d');
            let chartStatus = Chart.getChart("chart1month");
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            myChart = new Chart(chart7day, {
                type: 'bar',
                data: {
                    labels: [...days],
                    datasets: [
                        {
                            label: 'Bún',
                            data: [...total],
                            backgroundColor: colors[4],
                            barThickness: 50,
                        }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{
                            barPercentage: 0.4,
                            categoryPercentage: 0.5,
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            })

        }).fail((jqXHR) => {
            console.log(jqXHR)
        })
    }

    // chartOneMonth();

    function chartQuantityNR1Day() {
        let customer = 'customer';
        let purchase = "purchase";
        let rices = 0;
        let noodles = 0;
        getQuantityNoodle1d(customer).then((noodle) => {
            noodles = noodle;
        })
        getQuantityNoodle1d(purchase).then((rice) => {
            rices = rice;
        })
        let colors = ['#00DD00', '#FF99FF', '#CC66FF', '#FF6600', '#FF3366', '#BFEFFF'];
        let chartOneDay = document.getElementById("chartQuantity1day").getContext('2d');
        let chartStatus = Chart.getChart("chartQuantity1day");
        if (chartStatus !== undefined) {
            chartStatus.destroy();
        }
        let chartDataSell = {
            labels: [day_name + " / " + dayyy],
            datasets: [
                {
                    label: 'Bún',
                    data: [noodles],
                    backgroundColor: colors[2],
                    maxBarThickness: 70,
                },
                {
                    label: 'Gạo',
                    data: [rices],
                    backgroundColor: colors[3],
                    maxBarThickness: 70,
                }
            ]
        };
        if (chartOneDay) {
            new Chart(chartOneDay, {
                type: 'bar',
                data: chartDataSell,
                options: {
                    scales: {
                        xAxes: [{
                            barPercentage: 0.4,
                            categoryPercentage: 0.5,
                        }],

                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    }

    chartQuantityNR1Day();

    function chartQuantityNR1Week() {
        let customer = 'customer';
        let purchase = "purchase";
        let daysN = [];
        let quantityN = [];
        let daysR = [];
        let quantityR = [];
        getQuantityNoodle1Week(customer).then((noodle) => {
            $.each(noodle, (i, itemNoodle) => {
                daysN.push(moment(itemNoodle.createdAt).date());
                quantityN.push(itemNoodle.quantity);
            })
        })
        getQuantityNoodle1Week(purchase).then((rice) => {
            $.each(rice, (i, itemRice) => {
                daysR.push(moment(itemRice.createdAt).date());
                quantityR.push(itemRice.quantity);
            })
        })
        let myDay = daysR.concat(daysN);
        let mySet = new Set(myDay);
        let result = Array.from(mySet).sort();
        let colors = ['#00DD00', '#FF99FF', '#CC66FF', '#FF6600', '#FF3366', '#BFEFFF'];
        let chartOneDay = document.getElementById("chartQuantity1week").getContext('2d');
        let chartStatus = Chart.getChart("chartQuantity1week");
        if (chartStatus !== undefined) {
            chartStatus.destroy();
        }
        let chartDataSell = {
            labels: [...result],
            datasets: [
                {
                    label: 'Bún',
                    data: [...quantityN],
                    backgroundColor: colors[2],
                    maxBarThickness: 70,
                },
                {
                    label: 'Gạo',
                    data: [...quantityR],
                    backgroundColor: colors[3],
                    maxBarThickness: 70,
                }
            ]
        };
        if (chartOneDay) {
            new Chart(chartOneDay, {
                type: 'bar',
                data: chartDataSell,
                options: {
                    scales: {
                        xAxes: [{
                            barPercentage: 0.4,
                            categoryPercentage: 0.5,
                        }],

                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    }

    // chartQuantityNR1Week();

    function chartQuantityNR1Month() {
        let customer = 'customer';
        let purchase = "purchase";
        let daysN = [];
        let quantityN = [];
        let daysR = [];
        let quantityR = [];
        getQuantityNoodle1Month(customer).then((noodle) => {
            $.each(noodle, (i, itemNoodle) => {
                daysN.push(moment(itemNoodle.createdAt).date());
                quantityN.push(itemNoodle.quantity);
            })
        })
        getQuantityNoodle1Month(purchase).then((rice) => {
            $.each(rice, (i, itemRice) => {
                daysR.push(moment(itemRice.createdAt).date());
                quantityR.push(itemRice.quantity);
            })
        })
        let myDay = daysR.concat(daysN);
        let mySet = new Set(myDay);
        let result = Array.from(mySet);
        let colors = ['#00DD00', '#FF99FF', '#CC66FF', '#FF6600', '#FF3366', '#BFEFFF'];
        let chartOneDay = document.getElementById("chartQuantity1month").getContext('2d');
        let chartStatus = Chart.getChart("chartQuantity1month");
        if (chartStatus !== undefined) {
            chartStatus.destroy();
        }
        let chartDataSell = {
            labels: [...result],
            datasets: [
                {
                    label: 'Bún',
                    data: [...quantityN],
                    backgroundColor: colors[2],
                    maxBarThickness: 70,
                },
                {
                    label: 'Gạo',
                    data: [...quantityR],
                    backgroundColor: colors[3],
                    maxBarThickness: 70,
                }
            ]
        };
        if (chartOneDay) {
            new Chart(chartOneDay, {
                type: 'bar',
                data: chartDataSell,
                options: {
                    scales: {
                        xAxes: [{
                            barPercentage: 0.4,
                            categoryPercentage: 0.5,
                        }],

                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    }


    function getQuantityNoodle1d(type) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                async: false,
                type: "GET",
                url: "http://localhost:8080/api/order-items/chartQuantityNoodleOD/" + type,
            }).done((data) => {
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )

    }

    function getQuantityNoodle1Week(type) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                async: false,
                type: "GET",
                url: "http://localhost:8080/api/order-items/chartQuantityNoodleOW/" + type,
            }).done((data) => {
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )

    }

    function getQuantityNoodle1Month(type) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                async: false,
                type: "GET",
                url: "http://localhost:8080/api/order-items/chartQuantityNoodleOM/" + type,
            }).done((data) => {
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )

    }


    function getOrderCus() {
        return $.ajax({
            headers: {
                'accept': "application/json",
                'content-type': "application/json"
            },
            async: false,
            type: "GET",
            url: "http://localhost:8080/api/orders/exports"
        }).done((data) => {
            let doanhSo = 0;
            let donban = 0;
            order = data;
            $.each(order, (i, item) => {
                doanhSo += item.grandTotal;
                donban = order.length;
            })
            let ds = `<h4><b>${new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND'
            }).format(doanhSo)}</b></h4>`;
            let db = `<h4><b>${donban}</b></h4>`;
            $("#doanhSo").prepend(ds);
            $("#donXuat").prepend(db);
        }).fail((jqXHR) => {
            console.log(jqXHR)
        })
    }

    getOrderCus();

    function getOrderSup() {
        return $.ajax({
            headers: {
                'accept': "application/json",
                'content-type': "application/json"
            },
            async: false,
            type: "GET",
            url: "http://localhost:8080/api/orders/imports"
        }).done((data) => {
            console.log(data, "dataa")
            let donNhap;
            order = data;
            donNhap = order.length;
            let str = `<h4><b>${donNhap}</b></h4>`;
            $('#donNhap').prepend(str);
        }).fail((jqXHR) => {
            console.log(jqXHR)
        })
    }

    getOrderSup();


    function chartDebtCus() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/paymentCustomer/chartDebtCus",
        }).done((data) => {
            let debt = [];
            let name = []
            let totalDebtCus = 0;
            $.each(data, (i, userList) => {
                // console.log(userList, "user")
                let paymentCustomer = userList.paid;
                let total = 0;
                let debts = 0;
                getOrderById(userList.id).then((orderItem) => {
                    $.each(orderItem, (i, orders) => {
                        total += orders.grandTotal;
                        debts = total - paymentCustomer;
                    })
                })
                totalDebtCus += debts;
                console.log(userList.paid, "paidđ")
                if (debts === 0 ){
                    userList.fullName = ""
                }
                else {
                    debt.push(debts)
                    name.push(userList.fullName)
                }
                console.log(debts,"debttt")

            })
            debt.length = 5;
            name.length = 5;
            console.log(debt, "no")
            let chBar = document.getElementById("chartDebt").getContext('2d');
            let chartStatus = Chart.getChart("chartDebt");
            if (chartStatus !== undefined)
                chartStatus.destroy();
            let chartDataPro = {
                labels: [...name],
                datasets: [
                    {
                        label: 'Khách Hàng',
                        data: [...debt],
                        backgroundColor: "#32CD32",
                        maxBarThickness: 40,
                    }]
            };
            if (chBar) {
                new Chart(chBar, {
                    type: 'bar',
                    data: chartDataPro,
                    options: {
                        scales: {
                            xAxes: [{
                                barPercentage: 0.4,
                                categoryPercentage: 0.5,
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            }

            let str = `<h4><b>${new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND'
            }).format(totalDebtCus)}</b></h4>`;
            $('#totalDebtCus').prepend(str);
        }).fail((jqXHR) => {
            console.log(jqXHR)
        })
    }

    chartDebtCus();

    function getOrderById(userId) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                type: "GET",
                async: false,
                url: "http://localhost:8080/api/orders/byIdUser/" + userId,
            }).done((data) => {
                // console.log(data,"data")
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )
    }

    function getPaymentByUserid(userId) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                async: false,
                type: "GET",
                url: "http://localhost:8080/api/orders/paymentCustomer/" + userId,
            }).done((data) => {
                // console.log(data, "paymentaaa")
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )

    }

    function chartDebtSup() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/paymentPurchase/chartDebtSup",
        }).done((data) => {
            let debt = [];
            let name = [];
            let totalDebtSup = 0;
            $.each(data, (i, userList) => {
                console.log(userList, "user")
                let paymentSup = userList.paid;
                let total = 0;
                let debts = 0;
                let totalDebt = 0;
                getOrderById(userList.id).then((orderItem) => {
                    $.each(orderItem, (i, orders) => {
                        total += orders.grandTotal;
                        debts = total - paymentSup;
                        totalDebt += debts;
                    })

                })
                totalDebtSup += debts;

                if (debts === 0 ){
                    userList.fullName = ""
                }
                else {
                    debt.push(debts)
                    name.push(userList.fullName)
                }
                // debt.push(debts)
                // name.push(userList.fullName)
            })
            console.log(debt, "total")
            console.log(name, "name")

            // let newDebt = debt.filter(function (item) {
            //     return (item > 0);
            // });

            // name.length = newDebt.length;
            let chBar = document.getElementById("chartDebtSup").getContext('2d');
            let chartStatus = Chart.getChart("chartDebtSup");
            if (chartStatus !== undefined)
                chartStatus.destroy();
            let chartDataPro = {
                labels: [...name],
                datasets: [
                    {
                        label: 'Khách Hàng',
                        data: [...debt],
                        backgroundColor: "#0000FF",
                        maxBarThickness: 40,
                    }]
            };
            if (chBar) {
                new Chart(chBar, {
                    type: 'bar',
                    data: chartDataPro,
                    options: {
                        scales: {
                            xAxes: [{
                                barPercentage: 0.4,
                                categoryPercentage: 0.5,
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            }

            let str = `<h4><b>${new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND'
            }).format(totalDebtSup)}</b></h4>`;
            $('#totalDebtSup').prepend(str);
        }).fail((jqXHR) => {
            console.log(jqXHR)
        })
    }

    chartDebtSup();



</script>

</html>