<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="en">
    <th:block th:fragment="footer">
        <!-- Optional JavaScript -->
        <!--    IziToast - v1.4-->
        <script src="/assets/iziToast/v1.4.0/iziToast.min.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.validate.min.js"></script>

        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- Appear JavaScript -->
        <script src="/assets/js/jquery.appear.js"></script>
        <!-- Countdown JavaScript -->
        <script src="/assets/js/countdown.min.js"></script>
        <!-- Counterup JavaScript -->
        <script src="/assets/js/waypoints.min.js"></script>
        <script src="/assets/js/jquery.counterup.min.js"></script>
        <!-- Wow JavaScript -->
        <script src="/assets/js/wow.min.js"></script>
        <!-- Apexcharts JavaScript -->
        <script src="/assets/js/apexcharts.js"></script>
        <!-- Slick JavaScript -->
        <script src="/assets/js/slick.min.js"></script>
        <!-- Select2 JavaScript -->
        <script src="/assets/js/select2.min.js"></script>
        <!-- Owl Carousel JavaScript -->
        <script src="/assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JavaScript -->
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Smooth Scrollbar JavaScript -->
        <script src="/assets/js/smooth-scrollbar.js"></script>
        <!-- lottie JavaScript -->
        <script src="/assets/js/lottie.js"></script>
        <!-- am core JavaScript -->
        <script src="/assets/js/core.js"></script>
        <!-- am charts JavaScript -->
        <script src="/assets/js/charts.js"></script>
        <!-- am animated JavaScript -->
        <script src="/assets/js/animated.js"></script>
        <!-- am kelly JavaScript -->
        <script src="/assets/js/kelly.js"></script>
        <!-- am maps JavaScript -->
        <script src="/assets/js/maps.js"></script>
        <!-- am worldLow JavaScript -->
        <script src="/assets/js/worldLow.js"></script>
        <!-- Raphael-min JavaScript -->
        <script src="/assets/js/raphael-min.js"></script>
        <!-- Morris JavaScript -->
        <script src="/assets/js/morris.js"></script>
        <!-- Morris min JavaScript -->
        <script src="/assets/js/morris.min.js"></script>
        <!-- Flatpicker Js -->
        <script src="/assets/js/flatpickr.js"></script>
        <!-- Style Customizer -->
        <script src="/assets/js/style-customizer.js"></script>
        <!-- Chart Custom JavaScript -->
        <script src="/assets/js/chart-custom.js"></script>
        <!-- Custom JavaScript -->
        <script src="/assets/js/custom.js"></script>
         <!--  Moment-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <!--  App-->
<!--        <script src="/assets/js/order_customer.js"></script>-->
        <script src="/assets/js/app.js"></script>
        <!--    sweetalert-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
    </th:block>

