<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="en">
    <th:block th:fragment="footer">
        <!-- Optional JavaScript -->
        <!--    IziToast - v1.4-->
<!--        <script src="/assets/iziToast/v1.4.0/iziToast.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
<!--         jQuery first, then Popper.js, then Bootstrap JS -->
<!--        <script src="/assets/js/jquery.min.js"></script>-->
<!--        <script src="/assets/js/jquery.validate.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

        <script src="/assets/js/popper.min.js"></script>
<!--        <script src="/assets/js/bootstrap.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
        <!-- Appear JavaScript -->
        <script src="/assets/js/jquery.appear.js"></script>
        <!-- Countdown JavaScript -->
        <script src="/assets/js/countdown.min.js"></script>
        <!-- Counterup JavaScript -->
<!--        <script src="/assets/js/waypoints.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="/assets/js/jquery.counterup.min.js"></script>
        <!-- Wow JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<!--        <script src="/assets/js/wow.min.js"></script>-->
        <!-- Apexcharts JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.11.0/apexcharts.min.js"></script>
<!--        <script src="/assets/js/apexcharts.js"></script>-->
        <!-- Slick JavaScript -->
        <script src="/assets/js/slick.min.js"></script>
        <!-- Select2 JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
<!--        <script src="/assets/js/select2.min.js"></script>-->
        <!-- Owl Carousel JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!--        <script src="/assets/js/owl.carousel.min.js"></script>-->
        <!-- Magnific Popup JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!--        <script src="/assets/js/jquery.magnific-popup.min.js"></script>-->
        <!-- Smooth Scrollbar JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/2.0.0/smooth-scrollbar.js"></script>
<!--        <script src="/assets/js/smooth-scrollbar.js"></script>-->
        <!-- lottie JavaScript -->
        <script src="/assets/js/lottie.js"></script>
        <!-- am core JavaScript -->
        <script src="/assets/js/core.js"></script>
        <!-- am charts JavaScript -->
        <script src="/assets/js/charts.js"></script>
        <!-- am animated JavaScript -->
        <script src="/assets/js/animated.js"></script>
        <!-- am kelly JavaScript -->
        <script src="/assets/js/kelly.js"></script>
        <!-- am maps JavaScript -->
        <script src="/assets/js/maps.js"></script>
        <!-- am worldLow JavaScript -->
        <script src="/assets/js/worldLow.js"></script>
        <!-- Raphael-min JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<!--        <script src="/assets/js/raphael-min.js"></script>-->
        <!-- Morris JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.js"></script>
        <!--        <script src="/assets/js/morris.js"></script>-->
        <!-- Morris min JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js"></script>
<!--        <script src="/assets/js/morris.min.js"></script>-->
        <!-- Flatpicker Js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.js"></script>
<!--        <script src="/assets/js/flatpickr.js"></script>-->
        <!-- Style Customizer -->
            <script src="/assets/js/style-customizer.js"></script>
        <!-- Chart Custom JavaScript -->
        <script src="/assets/js/chart-custom.js"></script>
        <!-- Custom JavaScript -->
        <script src="/assets/js/custom.js"></script>
         <!--  Moment-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <!--  App-->

        <script src="/assets/js/app.js"></script>
        <!--    sweetalert-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.15/sweetalert2.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>


    </th:block>


