<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  lang="en">
  <th:block th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

<!--    iziToast - v1.4-->
    <link rel="stylesheet" href="/assets/iziToast/v1.4.0/iziToast.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
     <!-- Typography CSS -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- Full calendar -->
    <link href='/assets/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/assets/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='/assets/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='/assets/fullcalendar/list/main.css' rel='stylesheet' />

    <link rel="stylesheet" href="/assets/css/flatpickr.min.css">

    <link rel="stylesheet" href="/assets/css/order.css">

    <link rel="stylesheet" href="/assets/css/select2.min.css">

    <script src="/assets/js/chart.js"></script>
  </th:block>

