<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="left_side_bar">
    <div class="iq-sidebar">
        <div class="iq-navbar-logo d-flex justify-content-between">
            <a href="/home" class="header-logo">
                <!-- <img src="assets/images/logo.png" class="img-fluid rounded" alt=""> -->
                <img src="/assets/images/nudo.jpg" alt="">
                <span>Bún Việt</span>
            </a>
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-menu-line"></i></div>
                    <div class="hover-circle"><i class="ri-close-fill"></i></div>
                </div>
            </div>
        </div>
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class="active">
                        <a href="/home" class="iq-waves-effect" aria-expanded="true"><span
                                class="ripple rippleEffect"></span><i
                                class="las la-home iq-arrow-left"></i><span>Tổng Quan</span> </a>
                    </li>
                    <li>
                        <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span
                                class="ripple rippleEffect"></span><i
                                class="las la-user-tie iq-arrow-left"></i><span>Khách hàng</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="/customer"><i class="las la-th-list"></i>Khách hàng</a>
                            </li>
                            <li><a href="/supplier"><i class="ri-database-line"></i>Nhà cung cấp</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#tables" class="iq-waves-effect collapsed" data-toggle="collapse"
                           aria-expanded="false"><i
                                class="ri-table-line iq-arrow-left"></i><span>Quản Lý</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="tables" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="/khohang"><i class="ri-database-line "></i>Kho Hàng</a></li>
                            <li><a href="/donhang"><i class="ri-database-line"></i>Đơn Hàng</a></li>
                            <li><a href="#"><i class="ri-database-line"></i>Nhập Hàng</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#forms" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                                class="lab la-wpforms iq-arrow-left"></i><span>Báo Cáo</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="forms" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
<!--                            <li><a href="/profitCa"><i class="las la-book"></i>Tính Lợi Nhuận</a></li>-->
                            <li><a href="/profit"><i class="las la-book"></i>Lợi Nhuận</a></li>
                            <li><a href="/overView"><i class="las la-book"></i>Tính Lợi Nhuận</a></li>
                            <li><a href="/thu_chi"><i class="las la-book"></i>Thu - Chi</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="#charts" class="iq-waves-effect collapsed" data-toggle="collapse"
                           aria-expanded="false"><i
                                class="ri-pie-chart-box-line iq-arrow-left"></i><span>Đặt hàng</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="charts" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="/customer_order"><i class="ri-folder-chart-2-line"></i>Khách Hàng</a></li>
                            <li><a href="/purchase"><i class="ri-folder-chart-2-line"></i>Nhà Cung Cấp</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#admin" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
                            <i class="ri-pages-line iq-arrow-left"></i>
                            <span>ADMIN</span>
                            <i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="admin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a class="mt-2" href="/logout"><i class="ri-logout-circle-line"></i>Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>
</th:block>