<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"></th:block>
    <title>Create Order</title>
</head>

<body>

<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->

<div class="wrapper">
    <!-- Sidebar  -->
    <th:block th:replace="/layout/sidebar/left_side_bar :: left_side_bar"/>

    <!-- TOP Nav Bar -->
<!--    <th:block th:replace="/layout/topNav/topNav :: topNav"/>-->
    <!-- TOP Nav Bar END -->

    <div class="iq-top-navbar">
        <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0 mt-3">

                <div class="iq-search-bar d-flex">
                    <a href="/customer_order/">
                        <i class="fas fa-arrow-left font-size-20 mt-2 mr-2 "></i>
                    </a>
                    <h4 class="ml-1 font-size-24">Đặt hàng bún</h4>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list">

                        <li class="nav-item nav-icon mr-2">
                            <button class="btn btn-outline-primary">Lưu & Tiếp tục</button>
                        </li>

                        <li class="nav-item nav-icon">
                            <button class="btn btn-outline-warning" data-target="modalCreateOrderCustomer"
                                    id="btnCreate">Xác nhận
                            </button>

                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <!-- Page Content  -->
    <div id="modalCreateOrderCustomer" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div style="width: 100% ; height: 100% ; background-color: rgb(240, 240, 240); border-radius: 3px;"
                         class="">
                        <div class="iq-card mt-4">
                            <div class="iq-card-body">
                                <table id="tbItemCustomer" class="table">
                                    <thead class="bg-primary">
                                    <tr class="text-center">
                                        <th scope="col">Số lượng (Kg)</th>
                                        <th scope="col">Giá (đ)</th>
                                        <th scope="col">Thành tiền (đ)</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                <div class="p-2 row">
                                    <div style="text-align: end" class="col-sm-6 ">
                                        <div class="">
                                            <label>Thanh toán</label>
                                        </div>
                                        <div class="">
                                            <label>Khách đưa</label>
                                        </div>
                                        <hr>
                                        <div class="">
                                            <label>Còn lại</label>
                                        </div>
                                    </div>
                                    <div style="text-align: center" class="col-sm-6">
                                        <div>
                                            <input disabled class="text-center" id="totalAmount"/>
                                        </div>
                                        <div>
                                            <input class="text-center" id="inputPriceCustomer" type="number"
                                                   step="500" value="0"/>
                                        </div>
                                        <hr>
                                        <div>
                                            <input disabled class="text-center" id="remainingAmount" type="number"
                                                   value="0đ"/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="mt-4" style="max-width: 100% ; border-top: gray 1px solid; border-radius: 5px;">
                        <div class="font-weight-bold">
                            <div class="text-center">
                                <div class="col-12">
                                    <h3>Khách hàng</h3>
                                </div>
                                <div class="row">
                                    <input type="hidden" id="idCustomerCre" value="0"/>
                                    <div class="wrapper1">
                                        <div id="select-btn-customers" class="select-btn bg-primary">
                                            <span id="selectCustomer">Chọn khách hàng</span>

                                            <i class="uil uil-angle-down"></i>
                                        </div>
                                        <div id="content_selected" class="content">
                                            <div class="search">
                                                <i class="uil uil-search"></i>
                                                <input id="completeUser" spellcheck="false" type="text"
                                                       placeholder="Search">
                                            </div>
                                            <ul id="optionCus" class="options1">

                                            </ul>
                                        </div>
                                        <div class="plus">
                                            <button class="btn btn-primary" onclick="resetFormCustomer()">Reset Form</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <hr style="background: gray; height: 1px;">

                            <div id="modalCreateCustomer" style=" height: 355px; float: left;" class="ml-4 ">
                                <div class="modal-alert-danger"></div>
                                <form id="frmCreateCus">
                                    <div id="form-create-customer" class="form-row text-center">
                                        <div class="form-group col-sm-8 ">
                                            <label for="nameCus">Tên Khách Hàng</label>
                                            <input  type="text" class="form-control" name="nameCus" id="nameCus"
                                                   placeholder="Nguyễn Văn A">
                                        </div>
                                        <div class="form-group col-sm-8 ">
                                            <label for="addressCus">Địa Chỉ</label>
                                            <input type="text" class="form-control" name="addressCus" id="addressCus"
                                                   placeholder="24 Nguyễn Tri Phương">
                                        </div>
                                        <div class="form-group col-sm-8 ">
                                            <label for="phoneCus">Điện Thoại</label>
                                            <input type="tel" class="form-control" name="phoneCus" id="phoneCus"
                                                   placeholder="0123456789">
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="search_fail" style="margin-top: 20px; color: red;"></div>
        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    Copyright 2020 <a href="#">FinDash</a> All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <th:block th:replace="/layout/script/footer :: footer"/>
    <script src="/assets/js/order_customer.js"></script>

</div>

<script>
    let item = new Item();
    let product = new Product();
    let user = new User();
    let order = new Order();
    let orderItem = new OrderItem();


    function renderCartItem(obj) {
        console.log("obj ", obj)
        let str = `
             <tr class="text-center" id="tr_${obj.id}">
                    <td style="width: 150px;margin: 40px auto;">
                        <div class="input-group text-center">
                            <span class="input-group-btn">
                                        <button type="button"
                                                onclick="handleReduceQuantity()"
                                                class="btn btn-info btn-number item-quantity"
                                                title="Giảm số lượng bún"
                                                data-type="plus" data-field="quant[2]">
                                             <span class="fa fa-minus"></span>
                                        </button>
                            </span>
                            <input style="height: 35px; border-radius: 5px;" type="text"
                                   name="quantityCustomer" class="form-control"
                                   onclick="handleInputQuantity()"
                                   id ="inputQuantity" value="0" min="0"
                                   max="500">

                            <span class="">
                                        <button type="button"
                                        onclick="handleIncreaseQuantity()"
                                        id="tangsoluong"
                                                class="btn btn-primary btn-number item-quantity counter-up"
                                                title="Tăng số lượng bún"
                                                data-type="minus" data-field="quant[2]">
                                           <span class="fa fa-plus"></span>
                                        </button>
                                    </span>
                        </div>
                    </td>
                    <td>
                        <input class="text-center" type="number" id="price" name="price"
                        value="${product.price}"
                        />

                    </td>
                    <td>
                        <input class="form-control-sm-2" id="itemTotalAmount" type="text" value="0">

                    </td>
                </tr>`
        return str;
    }


    function getProductById() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/products/1"
        })
            .done((data) => {
                product = data;
                let str = renderCartItem(data)

                $("#tbItemCustomer tbody").prepend(str);
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    getProductById();

    let btnCreate = $("#btnCreate");
    btnCreate.on('click', () => {
        if (inputQuantityCustomers()) {
            $("#frmCreateCus").submit();

        } else {
            iziToast.warning({
                title: 'Error',
                position: 'topRight',
                timeout: 1500,
                message: 'Vui lòng nhập số lượng sản phẩm!!'
            })
            // console.log("Vui lòng nhập số lượng sản phẩm!!");
        }

    });

    function inputQuantityCustomers() {
        let inputQuantity = +$("#inputQuantity").val();
        if (inputQuantity <= 0) {
            return false;
        }
        return true;
    }

    function doCreateOrderCustomer() {
        let user_id = $("#idCustomerCre").val();
        if (user_id == 0) {
            user_id = null;
        }
        let newOrder = {
            "userId": user_id,
            "fullName": $("#nameCus").val(),
            "address": $("#addressCus").val(),
            "phone": $("#phoneCus").val(),
            "orderItems": [{
                "quantity": +$("#inputQuantity").val(),
                "productId": 1
            }],
            "paid": $("#inputPriceCustomer").val()
        }
        $.ajax({
            headers: {
                accept: "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: "http://localhost:8080/api/orders/create",
            data: JSON.stringify(newOrder)
        })
            .done((data) => {
                order = data;

                iziToast.success({
                    title: 'OK',
                    position: 'topRight',
                    timeout: 1500,
                    message: 'Order sản phẩm thành công!!'
                })

                $("#inputQuantity").val(0);
                $("#itemTotalAmount").val(0);
                $("#inputPriceCustomer").val(0);
                $("#totalAmount").val(0);
                $("#remainingAmount").val(0);
                $("#selectCustomer").val(0);
                $("#selectCustomer").text("Chọn khách hàng");
                resetFormCustomer();
                // setTimeout(() => {
                //     window.location.href = "/customer_order/create"
                // },500)
            }).fail((jqXHR) => {
                iziToast.warning({
                    title: 'FAIL',
                    position: 'topRight',
                    timeout: 1500,
                    message: jqXHR.responseJSON.message
                });
            // console.log(jqXHR);
            // if(jqXHR.responseJSON.message){
            //     let msg = jqXHR.responseJSON.responseText.;
            //     iziToast.warning(msg);
            // }
        })
    }

    function resetFormCustomer(){
        $("#nameCus").removeAttr("disabled");

        $("#addressCus").removeAttr("disabled");

        $("#phoneCus").removeAttr("disabled");

        $("#frmCreateCus")[0].reset();

        $("#selectCustomer").val(0);

        $("#selectCustomer").text("Chọn khách hàng");
    }

    function handleIncreaseQuantity() {

        let quantity = +$("#inputQuantity").val();
        quantity += 5;
        $("#inputQuantity").val(quantity)

        let price = +$("#price").val();

        let totalAmount = quantity * price;
        $("#itemTotalAmount").val(totalAmount)
        $("#totalAmount").val(totalAmount)
        $("#remainingAmount").val(totalAmount)
    }

    function handleReduceQuantity() {

        let quantity = +$("#inputQuantity").val();
        quantity -= 5;
        $("#inputQuantity").val(quantity)

        let price = +$("#price").val();

        let totalAmount = quantity * price;
        $("#itemTotalAmount").val(totalAmount)
        $("#totalAmount").val(totalAmount)
        $("#remainingAmount").val(totalAmount)
    }

    function getAllOrderItem() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/order-items"
        })
            .done((data) => {
                orderItem = data;

            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    getAllOrderItem();


    function handleInputQuantity() {
        $("#inputQuantity").on('input', () => {
            let quantity = +$("#inputQuantity").val();
            $("#inputQuantity").val(quantity)
            let price = +$("#price").val();
            let totalAmount = quantity * price;
            $("#itemTotalAmount").val(totalAmount);

            $("#totalAmount").val(totalAmount);
            $("#remainingAmount").val(totalAmount)
        })
    }

    function getUserById(userId) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                type: "GET",
                url: "http://localhost:8080/api/users/" + userId,
            }).done((data) => {
                user = data;
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )
    }


    function handleInputPriceCustomer() {
        $("#inputPriceCustomer").on("input", function () {
            let quantity = +$("#inputQuantity").val();
            let price = +$("#price").val();
            let totalAmount = quantity * price;
            let remainingAmount = totalAmount - (+$("#inputPriceCustomer").val());
            $("#remainingAmount").val(remainingAmount);
        })
    }

    handleInputPriceCustomer();


    $("#frmCreateCus").validate({
        rules: {
            nameCus: {
                required: true,
                minlength: 5,
                maxlength: 35
            },
            addressCus: {
                required: true,
                minlength: 6,
                maxlength: 35,
            },
            phoneCus: {
                required: true,
                minlength: 10,
                maxlength: 15,
            }
        },
        messages: {
            nameCus: {
                required: "Vui lòng nhập tên đầy đủ!",
                minlength: "Độ dài tối thiểu là 5 ký tự",
                maxlength: "Độ dài tối đa là 35 ký tự"
            },
            addressCus: {
                required: "Vui lòng nhập địa chỉ!",
                minlength: "Độ dài tối thiểu là 6 ký tự",
                maxlength: "Độ dài tối đa là 15 ký tự",
            },
            phoneCus: {
                required: "Vui lòng nhập số điện thoại!",
                minlength: "Số điện thoại tối thiểu 10 số!",
                maxlength: "Số điện thoại tối đa 15 số!",
            }
        },
        errorLabelContainer: "#modalCreateCustomer .modal-alert-danger",
        errorPlacement: function (error, element) {
            error.appendTo("#modalCreateCustomer .modal-alert-danger");
        },
        showErrors: function (errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                $("#modalCreateCustomer .modal-alert-danger").removeClass("hide").addClass("show");
            } else {
                $("#modalCreateCustomer .modal-alert-danger").removeClass("show").addClass("hide").empty();
                $("#frmCreateCus input.error").removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
            doCreateOrderCustomer();
        }
    })

</script>
</body>

</html>