<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"/>
    <title>Order Customer</title>
</head>

<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->

<div class="wrapper">
    <!-- Sidebar  -->
    <th:block th:replace="/layout/sidebar/left_side_bar :: left_side_bar"/>

    <!-- TOP Nav Bar -->
    <!--    <th:block th:replace="/layout/topNav/topNav :: topNav"/>-->
    <div class="iq-top-navbar">
        <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="iq-search-bar">
                    <form action="#" class="searchbox">
                        <label>
                            <input id="inputSearchSupp" type="text" class="text search-input"
                                   placeholder="Type here to search...">
                        </label>
                        <a id="btnSearchSupp" class="search-link" href="#"><i class="ri-search-line"></i></a>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list">

                    </ul>
                </div>
                <ul class="navbar-list">
                    <li class="line-height">
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                            <img src="/assets/images/user/1.jpg" class="img-fluid rounded mr-3" alt="user">
                            <div class="caption">
                                <h6 class="mb-0 line-height">Barry Tech</h6>
                                <p class="mb-0">Manager</p>
                            </div>
                        </a>
                        <div class="iq-sub-dropdown iq-user-dropdown">
                            <div class="iq-card shadow-none m-0">
                                <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                        <h5 class="mb-0 text-white line-height">Hello Barry Tech</h5>
                                        <span class="text-white font-size-12">Available</span>
                                    </div>
                                    <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-file-user-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">My Profile</h6>
                                                <p class="mb-0 font-size-12">View personal profile details.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="profile-edit.html" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-profile-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Edit Profile</h6>
                                                <p class="mb-0 font-size-12">Modify your personal details.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="account-setting.html" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-account-box-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Account settings</h6>
                                                <p class="mb-0 font-size-12">Manage your account parameters.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-lock-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Privacy Settings</h6>
                                                <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="d-inline-block w-100 text-center p-3">
                                        <a class="bg-primary iq-sign-btn" href="sign-in.html" role="button">Sign out<i
                                                class="ri-login-box-line ml-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row justify-content-end m-2">
                <div class="">
                    <div class="btn btn-outline-warning  d-flex align-items-center justify-content-end">
                        <i class="fa fa-plus"></i>
                        <a href="/customer_order/create">Đặt hàng</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Đặt Hàng</h4>
                            </div>
                            <div class="  d-flex align-items-center">
                                <button class="m-1 font-weight-bolder btn btn-group" id="allStatusCustomer">Tất cả
                                </button>
                                <i class="fas fa-grip-lines-vertical text-warning"></i>
                                <button class="m-1 font-weight-bolder btn btn-group" id="statusPending">Đang xử lí
                                </button>
                                <i class="fas fa-grip-lines-vertical text-warning"></i>
                                <button class="m-1 font-weight-bolder btn btn-group" id="statusCompleted">Hoàn thành
                                </button>
                                <!--                                <i class="fas fa-grip-lines-vertical text-warning"></i>-->
                                <!--                                <button class="m-1 font-weight-bolder btn btn-group" id="statusCenceled">Hủy</button>-->
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table id="tbOrder" class="table mb-0">
                                    <thead class="bg-primary">
                                    <tr>
                                        <th scope="col">Mã Đh</th>
                                        <th scope="col">Ngày đặt</th>
                                        <th scope="col">Khách hàng</th>
                                        <th scope="col">Địa chỉ giao hàng</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Tổng tiền (đ)</th>
                                        <th scope="col">Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                                <div id="totalOrderCustomers">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    TTS-Noodle
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer END -->

    <th:block th:replace="/admin/order/debt_deduction :: debt_deduction"/>
    <th:block th:replace="/admin/order/show_view_detail :: show_view_detail"/>
    <th:block th:replace="/layout/script/footer :: footer"/>
</div>
</body>

<script>
    let order = new Order();
    let user = new User();
    let orderID = null;
    let ids ;
    Date.prototype.toDateInputValue = (function () {
        let local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });

    $(document).ready(function () {
        $("#datetimeLocalPayment").val(new Date().toDateInputValue())
    });

    function renderOrderCustomer(order, i) {
        let grandTotal = order.grandTotal;
        let paid = order.paid;
        let liabilities = grandTotal - paid;
        let ss2 = "";
        if(liabilities !== 0)
        {
             ss2 = `<span id=\"inDebt\">(Nợ: ${new Intl.NumberFormat('vi-VN').format(liabilities)})</span>`
        }

        let s1 = "";
        switch (order.orderStatus) {
            case "PENDING":
                s1 = "<option value='PENDING'>Đang xử lý</option>";
                break;
            case "COMPLETED":
                s1 = "<option value='COMPLETED'>Hoàn thành</option>";
                break;
            case "CANCELLED":
                s1 = "<option value='CANCELLED'>Đã hủy</option>";
                break;
        }

        let s2 = ""
        let str = `
                <tr class="text-center" id="#tr_${order.id}" data-toggle="collapse" data-target="#tr_${order.id}" aria-expanded="false" aria-controls="#tr_${order.id}">
                    <td>${order.id}</td>
                    <td>${moment(order.createdAt).format("DD/MM/YYYY - hh:mm")}</td>
                    <td>${order.fullName}</td>
                    <td>${order.address}</td>
                    <td>${s1}</td>
                    <td id="remainingAmount">${new Intl.NumberFormat('vi-VN').format(order.grandTotal)}<br>${ss2}
                    </td>
                    <td>
                          <button class="btn btn-outline-primary editPayment" data-id="${order.id}"
                            data-toggle="tooltip" data-placement="top" title="Edit">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>


            `;
        return str;

    }

    function renderOrderCustomerCompleted(order, i) {
        let s1 = "";
        switch (order.orderStatus) {
            case "PENDING":
                s1 = "<option value='PENDING'>Đang xử lý</option>";
                break;
            case "COMPLETED":
                s1 = "<option value='COMPLETED'>Hoàn thành</option>";
                break;
            case "CANCELLED":
                s1 = "<option value='CANCELLED'>Đã hủy</option>";
                break;
        }
        let s2 = ""
        let str = `
                <tr id="#tr_${order.id}" class="text-center" data-toggle="collapse" data-target="#tr_${order.id}" aria-expanded="false" aria-controls="#tr_${order.id}">
                    <td>${order.id}</td>
                    <td>${moment(order.createdAt).format("DD/MM/YYYY - hh:mm")}</td>
                    <td>${order.fullName}</td>
                    <td>${order.address}</td>
                    <td>${s1}</td>
                    <td id="remainingAmount">${new Intl.NumberFormat('vi-VN').format(order.grandTotal)}<br>
                    <td>
                             <i class="fa fa-check btn btn-success"></i>
                    </td>
                </tr>


            `;
        return str;

    }

    function loadOrders() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/orders/exportsNoodle",
        }).done((data) => {
            $("#tbOrder tbody").html("");
            $("#totalOrderCustomers").html("");

            let totalOrder = 0;
            let totalLiabilities = 0;
            data.forEach(item => {
                totalOrder += item.grandTotal;
                totalLiabilities += (item.grandTotal - item.paid);
                let str = renderOrderCustomer(item);
                $("#tbOrder tbody").prepend(str);

            });
            let sum = `
                       <span>Tổng số đơn: ${data.length} || </span>
                       <span class="bold text-primary">Tổng tiền: ${new Intl.NumberFormat('vi-VN', {
                style: "currency",
                currency: 'VND'
            }).format(totalOrder)}</span>
                       <span class="i text-danger">|| Tổng nợ: ${new Intl.NumberFormat('vi-VN', {
                style: "currency",
                currency: 'VND'
            }).format(totalLiabilities)} </span>
                      `
            $("#totalOrderCustomers").prepend(sum);
            handleShowUpdateModal();
            findAllStatusPending();
            findAllStatusCompleted();
        }).fail((jqXHR) => {
            console.log(jqXHR);
        })
    }


    $("#savePayment").on('click', () =>{

        $("#modalDebtDeduction").modal("show");
        // let inputPrice = $("#inputPricePayments").val();
        // let debts = $("#debts").val();
        // if(inputPrice > debts){
        //     iziToast.warning({
        //         title: 'FAIL',
        //         position: 'topRight',
        //         timeout: 1500,
        //         message: "Số tiền trả nhập vào không đc quá số tiền nợ!"
        //     });
        //     // return false;
        // }
        doUpdatePayment();
    })



    function doUpdatePayment(){
        let newUpdatePayment = {
                "orderId": ids,
                "paid": +$("#inputPricePayments").val()
            }
        $.ajax({
            headers: {
                accept: "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: "http://localhost:8080/api/orders/paymentCustomer",
            data: JSON.stringify(newUpdatePayment)
        })
            .done((data) => {
                let totalOrder = 0;
                let totalLiabilities = 0;
                    totalOrder = item.grandTotal;
                console.log("totalOrder = ", totalOrder);
                    totalLiabilities += (item.grandTotal - item.paid);
                iziToast.success({
                    title: 'OK',
                    position: 'topRight',
                    timeout: 1500,
                    message: 'Trả tiền thành công!!'
                })

            }).fail((jqXHR) => {
            iziToast.warning({
                title: 'FAIL',
                position: 'topRight',
                timeout: 1500,
                message: jqXHR.responseJSON.message
            });
        })
    }


    function handleShowUpdateModal() {
        $(".editPayment").on("click", function () {
            let orderID = $(this).data("id");
            let debts = 0;
            $("#tbPaymentCustomer tbody").html("");
            getOrderPaymentCustomerById(orderID).then((item) => {
                let str = `
                                         <tr class="col-12 text-center">

                                            <td id="quantityCustomer" class="col-4">
                                                        <span>${item.quantity}</span>
                                                        <hr>
                                            </td>
                                            <td class="col-4" id="pricePay">
                                                <span>${new Intl.NumberFormat('vi-VN', {
                                                        style: "currency",
                                                        currency: 'VND'
                                                    }).format(item.price)}
                                                </span>
                                                <hr>
                                            </td>
                                            <td class="col-4" id="totalPrice">
                                                  <span>${new Intl.NumberFormat('vi-VN', {
                                                        style: "currency",
                                                        currency: 'VND'
                                                    }).format(item.grandTotal)}
                                                </span>
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr class="col-12 mt-4">
                                            <td class="fullNamePayment">
                                                Tên khách hàng :  <span>${item.fullName}</span>
                                                <hr>
                                            </td>
                                            <td class="col-4" style="left: 127px; color: blue">
                                                Tổng tiền :     <span>${new Intl.NumberFormat('vi-VN', {
                                                                    style: "currency",
                                                                    currency: 'VND'
                                                                }).format(item.grandTotal)}
                                                                 </span>
                                                                 <hr>
                                            </td>
                                        </tr>
                                        <tr class="col-12 text-center">
                                            <td class="fullNamePayment">
                                                Lịch sử : <span>${moment(order.createdAt).format("DD/MM/YYYY - hh:mm")}</span>
                                            </td>
                                            <td class="col-4" style="left: 129px">
                                                Đã trả :  <span>${new Intl.NumberFormat('vi-VN', {
                                                                style: "currency",
                                                                currency: 'VND'
                                                            }).format(item.paid)}
                                                                 </span>
                                            </td>
                                        </tr>
                        `;
                $("#tbPaymentCustomer tbody").append(str);

                debts = item.grandTotal - item.paid;
                let debtsSp = `  <span>${new Intl.NumberFormat('vi-VN', {
                                            style: "currency",
                                            currency: 'VND'
                                        }).format(debts)}
                                 </span>`
                $("#debts").html(debtsSp);

                $("#modalDebtDeduction").modal("show");

                // $(".inputPricePms").on('keyup', function(){
                //     let n = parseInt($(this).val().replace(/\D/g,''),10);
                //     console.log(n ,"nn")
                //     $(this).val(n.toLocaleString());
                // });

            }).fail((jqXHR) => {
                alert(jqXHR);
            });
        })
    }



    function getOrderPaymentCustomerById(orderID) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                type: "GET",
                url: "http://localhost:8080/api/orders/exportsNoodlePaid/" + orderID,
            }).done((data) => {
                order = data;
                ids = orderID;

                console.log("userIdPaid = ", orderID)

                handleShowPrint();

            }).fail((jxHQR) => {
                    console.log(jxHQR)
                }
            ))
    }


    function findAllCustomerStatus() {
        $("#allStatusCustomer").on("click", function () {
            loadOrders();
        })
    }

    function findAllStatusPending() {
        $("#statusPending").on("click", function () {
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "http://localhost:8080/api/orders/statusPending",
            }).done((data) => {
                $("#tbOrder tbody").html("");
                $("#totalOrderCustomers").html("");
                let totalOrder = 0;
                let totalLiabilities = 0;
                data.forEach(item => {
                    totalOrder += item.grandTotal;
                    totalLiabilities += (item.grandTotal - item.paid);
                    let str = renderOrderCustomer(item);
                    $("#tbOrder tbody").prepend(str);
                })
                let sum = `
                       <span>Tổng số đơn: ${data.length} || </span>
                       <span class="bold text-primary">Tổng tiền: ${new Intl.NumberFormat('vi-VN', {
                    style: "currency",
                    currency: 'VND'
                }).format(totalOrder)}</span>
                       <span class="i text-danger">|| Tổng nợ: ${new Intl.NumberFormat('vi-VN', {
                    style: "currency",
                    currency: 'VND'
                }).format(totalLiabilities)} </span>
                      `
                $("#totalOrderCustomers").prepend(sum);
                handleShowUpdateModal();
                findAllStatusCompleted();
            }).fail((jqXHR) => {
                console.log(jqXHR);
            })
        })
    }


    function findAllStatusCompleted() {
        $("#statusCompleted").on("click", function () {
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "http://localhost:8080/api/orders/statusCompleted",
            }).done((data) => {
                $("#tbOrder tbody").html("");
                $("#totalOrderCustomers").html("");
                let totalOrder = 0;
                data.forEach(item => {
                    totalOrder += item.grandTotal;
                    let str = renderOrderCustomerCompleted(item);
                    $("#tbOrder tbody").prepend(str);
                })
                let sum = `
                       <span>Tổng số đơn: ${data.length} || </span>
                       <span class="bold text-primary">Tổng tiền: ${new Intl.NumberFormat('vi-VN', {
                    style: "currency",
                    currency: 'VND'
                }).format(totalOrder)}</span>
                      `
                $("#totalOrderCustomers").prepend(sum);
                handleShowUpdateModal();
            }).fail((jqXHR) => {
                console.log(jqXHR);
            })
        })
    }

    function doSearchOrderCustomer() {
        $('#btnSearchOrderCustomer').on('click', function () {
            let keyword = $('#inputSearchOrderCustomer').val();
            $('#tbOrder tbody').html("")
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                type: "GET",
                url: "http://localhost:8080/api/orders/searchCustomer/" + keyword
            }).done((data) => {
                $.each(data, (i, user) => {
                    order = user ;
                    let grandTotal = order.grandTotal;
                    let paid = order.paid;
                    let liabilities = grandTotal - paid;
                    let ss2 = "";
                    if(liabilities !== 0)
                    {
                        ss2 = `<span id=\"inDebt\">(Nợ: ${new Intl.NumberFormat('vi-VN').format(liabilities)})</span>`
                    }

                    let s1 = "";
                    switch (order.orderStatus) {
                        case "PENDING":
                            s1 = "<option value='PENDING'>Đang xử lý</option>";
                            break;
                        case "COMPLETED":
                            s1 = "<option value='COMPLETED'>Hoàn thành</option>";
                            break;
                        case "CANCELLED":
                            s1 = "<option value='CANCELLED'>Đã hủy</option>";
                            break;
                    }

                    let s2 = ""
                    let str = `
                <tr class="text-center" id="#tr_${order.id}" data-toggle="collapse" data-target="#tr_${order.id}" aria-expanded="false" aria-controls="#tr_${order.id}">
                    <td>${order.id}</td>
                    <td>${moment(order.createdAt).format("DD/MM/YYYY - hh:mm")}</td>
                    <td>${order.fullName}</td>
                    <td>${order.address}</td>
                    <td>${s1}</td>
                    <td id="remainingAmount">${new Intl.NumberFormat('vi-VN').format(order.grandTotal)}<br>${ss2}
                    </td>
                    <td>
                          <button class="btn btn-outline-primary editPayment" data-id="${order.id}"
                            data-toggle="tooltip" data-placement="top" title="Edit">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>


            `;
                    $('#tbOrder tbody').prepend(str)
                })
            }).fail((jqXHR) => {
                console.log(jqXHR)
            })
        })
    }
    doSearchOrderCustomer();

    findAllStatusCompleted();

    loadOrders();
    findAllCustomerStatus();
    findAllStatusPending();
</script>

</html>