<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"/>
</head>

<body>
<div class="wrapper">
    <!-- Sidebar  -->
    <th:block th:replace="/layout/sidebar/left_side_bar :: left_side_bar"/>

    <!-- TOP Nav Bar -->
    <th:block th:replace="/layout/topNav/topNav :: topNav"/>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row justify-content-end m-2">
                <div class="">
                    <div class="btn btn-outline-warning  d-flex align-items-center justify-content-end">
                        <i class="fa fa-plus"></i>
                        <a href="/customer_order/create">Đặt hàng</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Đặt Hàng</h4>
                            </div>
                            <div class="  d-flex align-items-center">
                                <button class="m-1 font-weight-bolder btn btn-group" id="allStatusCustomer">Tất cả</button>
                                <i class="fas fa-grip-lines-vertical text-warning"></i>
                                <button class="m-1 font-weight-bolder btn btn-group" id="statusPending">Đang xử lí</button>
                                <i class="fas fa-grip-lines-vertical text-warning"></i>
                                <button class="m-1 font-weight-bolder btn btn-group" id="statusCompleted">Hoàn thành</button>
<!--                                <i class="fas fa-grip-lines-vertical text-warning"></i>-->
<!--                                <button class="m-1 font-weight-bolder btn btn-group" id="statusCenceled">Hủy</button>-->
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table id="tbOrder" class="table mb-0">
                                    <thead class="bg-primary">
                                    <tr>
                                        <th scope="col">Mã Đh</th>
                                        <th scope="col">Ngày đặt</th>
                                        <th scope="col">Khách hàng</th>
                                        <th scope="col">Địa chỉ giao hàng</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Tổng tiền (đ)</th>
                                        <th scope="col">Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                                <div id="totalOrderCustomers">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    TTS-Noodle
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer END -->
    <th:block th:replace="/admin/order/show_view_detail :: show_view_detail"/>
    <th:block th:replace="/layout/script/footer :: footer"/>
</div>
</body>

<script>
    let order = new Order();
    let user = new User();
    function renderOrderCustomer(order) {
        let str = `
                <tr id="tr_${order.id}">
                    <td>${order.id}</td>
                    <td>${moment(order.createdAt).format("DD/MM/YYYY - hh:mm")}</td>
                    <td>${order.fullName}</td>
                    <td>${order.address}</td>
                    <td>${order.orderStatus}</td>
                    <td id="remainingAmount">${new Intl.NumberFormat('vi-VN').format(order.grandTotal)}<br><span id="inDebt">(Nợ:)</span></td>
                    <td>
                          <div class="iq-card-header-toolbar d-flex align-items-center">
                           <div class="dropdown">
                              <span class="dropdown-toggle text-primary" id="dropdownMenuButton5"
                                 data-toggle="dropdown" data-id="${order.id}">
                                   <i class="fas fa-edit"></i>
                              </span>
                              <div class="dropdown-menu dropdown-menu-right" id="dropdrowStatus" aria-labelledby="dropdownMenuButton5">
                                 <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>Chi tiết đơn hàng</a>
                                 <a onclick="editStatusOrder(${order.id})" class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Hoàn thành</a>
                              </div>
                           </div>
                        </div>
                    </td>
                </tr>
            `;
        return str;
    }

    function handleShowEditModalStatus() {
            $("#modalEditOrder").modal("show");
    }

    function renderOrderStatusCompleted(order) {
        let str = `
                <tr id="tr_${order.id}">
                    <td>${order.id}</td>
                    <td>${moment(order.createdAt).format("DD/MM/YYYY - hh:mm")}</td>
                    <td>${order.fullName}</td>
                    <td>${order.address}</td>
                    <td>${order.orderStatus}</td>
                    <td id="remainingAmount">${new Intl.NumberFormat('vi-VN').format(order.grandtotal)}<br><span id="inDebt">(Nợ:)</span></td>
                </tr>
            `;
        return str;
    }

    function loadOrders() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/orders/exportsNoodle",
        }).done((data) => {
            let totalOrder = 0;
            data.forEach(item => {
                console.log("item total ",item)
                console.log("item total ",item.grandTotal)
                totalOrder += item.grandTotal;
                let str = renderOrderCustomer(item);

                $("#tbOrder tbody").prepend(str);


            });
            let sum =`
                       <span>Tổng số đơn: ${data.length} || </span>
                       <span class="bold text-primary">Tổng tiền: ${new Intl.NumberFormat('vi-VN',{style: "currency", currency:'VND'}).format(totalOrder)}</span>,
                       <span class="i text-warning">|| Tổng nợ: 68,000 </span>
                      `
            $("#totalOrderCustomers").prepend(sum);

        }).fail((jqXHR) => {
            console.log(jqXHR);
        })
    }

    function findAllUserByRole() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/users/getUserByRoleId/2",
        }).done((data) => {
            user = data;
            data.forEach((item,i) => {
                let str = renderOrderCustomer(item,i);
                $("#tbOrder tbody").prepend(str);

            });
        }).fail((jqXHR) => {
            console.log(jqXHR);
        })
    }

    // function editStatusOrder(orderId){
    //     $("#statusPending").on("click", function () {
    //         $.ajax({
    //             headers: {
    //                 "accept": "application/json",
    //                 "content-type": "application/json"
    //             },
    //             type: "GET",
    //             url: "http://localhost:8080/api/orders/statusPending",
    //         }).done((data) => {
    // }
    //     }

    function findAllStatusPending() {
        $("#statusPending").on("click", function () {
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "http://localhost:8080/api/orders/statusPending",
            }).done((data) => {
                $("#tbOrder tbody").html("");
                order = data;
                console.log(order)
                data.forEach((item, i) => {
                    let str = renderOrderStatusCompleted(item, i);
                    $("#tbOrder tbody").prepend(str);
                })

            }).fail((jqXHR) => {
                console.log(jqXHR);
            })
        })
    }
    findAllStatusPending();

    function findAllStatusCompleted() {
        $("#statusCompleted").on("click", function () {
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "http://localhost:8080/api/orders/statusCompleted",
            }).done((data) => {
                $("#tbOrder tbody").html("");
                order = data;
                console.log(order)
                data.forEach((item, i) => {
                    let str = renderOrderStatusCompleted(item, i);
                    $("#tbOrder tbody").prepend(str);
                })

            }).fail((jqXHR) => {
                console.log(jqXHR);
            })
        })
    }
    findAllStatusCompleted();

    loadOrders();
    findAllUserByRole()
</script>

</html>