<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"></th:block>
</head>

<body>
<!-- loader Start -->
<!--<div id="loading">-->
<!--    <div id="loading-center">-->
<!--    </div>-->
<!--</div>-->
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div class="iq-sidebar">
        <div class="iq-navbar-logo d-flex justify-content-between">
            <a th:href="@{/home}" class="header-logo">
                <!-- <img src="/assets/images/logo.png" class="img-fluid rounded" alt=""> -->
                <img src="/assets/images/nudo.jpg" alt="">
                <span>Bún Việt</span>
            </a>
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-menu-line"></i></div>
                    <div class="hover-circle"><i class="ri-close-fill"></i></div>
                </div>
            </div>
        </div>
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class="active">
                        <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span
                                class="ripple rippleEffect"></span><i
                                class="las la-home iq-arrow-left"></i><span>Dashboard</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                            <li class="active"><a href="index.html"><i class="las la-laptop-code"></i>Account Dashboard</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span
                                class="ripple rippleEffect"></span><i
                                class="las la-user-tie iq-arrow-left"></i><span>User</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">

                            <li><a th:href="@{/customer}"><i class="las la-th-list"></i>Customer</a></li>
                            <li><a href="data-table.html"><i class="ri-database-line"></i>Supplier</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#tables" class="iq-waves-effect collapsed" data-toggle="collapse"
                           aria-expanded="false"><i
                                class="ri-table-line iq-arrow-left"></i><span>Manager</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="tables" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="tables-basic.html"><i class="ri-table-line"></i>Kho Hàng</a></li>
                            <li><a href="data-table.html"><i class="ri-database-line"></i>Hàng Hóa</a></li>
                            <li><a href="data-table.html"><i class="ri-database-line"></i>Xuất Hàng</a></li>
                            <li><a href="/purchase"><i class="ri-database-line"></i>Nhập Hàng</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#forms" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                                class="lab la-wpforms iq-arrow-left"></i><span>Tiền Bạc</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="forms" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="form-layout.html"><i class="las la-book"></i>Thu</a></li>
                            <li><a href="form-validation.html"><i class="las la-edit"></i>Chi</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#charts" class="iq-waves-effect collapsed" data-toggle="collapse"
                           aria-expanded="false"><i
                                class="ri-pie-chart-box-line iq-arrow-left"></i><span>Order</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="charts" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="/customer_order"><i class="ri-folder-chart-2-line"></i>Khách Hàng</a></li>
                            <li><a href="chart-apex.html"><i class="ri-folder-chart-2-line"></i>Nhà Cung Cấp</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#authentication" class="iq-waves-effect collapsed" data-toggle="collapse"
                           aria-expanded="false"><i
                                class="ri-pages-line iq-arrow-left"></i><span>Authentication</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="authentication" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="sign-in.html"><i class="las la-sign-in-alt"></i>Login</a></li>
                            <li><a href="sign-up.html"><i class="ri-login-circle-line"></i>Register</a></li>
                            <li><a href="pages-recoverpw.html"><i class="ri-record-mail-line"></i>Recover Password</a>
                            </li>
                            <li><a href="pages-confirm-mail.html"><i class="ri-file-code-line"></i>Confirm Mail</a></li>
                            <li><a href="pages-lock-screen.html"><i class="ri-lock-line"></i>Lock Screen</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>
    <!-- TOP Nav Bar -->
    <th:block th:replace="/layout/topNav/topNav :: topNav"></th:block>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row justify-content-end m-2">
                <div class="">
                    <div class="btn btn-outline-warning  d-flex align-items-center justify-content-end">
                        <i class="fa fa-plus"></i>
                        <a href="/customer_order/create">Đặt hàng</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Đặt Hàng</h4>
                            </div>
                            <div class="  d-flex align-items-center">
                                <!-- <span class="text-danger ng-star-inserted">Test</span> -->
                                <a class="m-1 font-weight-bolder" href="">Tất cả</a>
                                <i class="fas fa-grip-lines-vertical text-warning"></i>
                                <a class="m-1 font-weight-bolder" href="">Đang xử lí</a>
                                <i class="fas fa-grip-lines-vertical text-warning"></i>
                                <a class="m-1 font-weight-bolder" href="">Hoàng thành</a>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Mã Đh</th>
                                        <th scope="col">Ngày đặt</th>
                                        <th scope="col">Ngày giao</th>
                                        <th scope="col">Khách hàng</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Tổng tiền</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>123</td>
                                        <td>11/10/2022</td>
                                        <td>11/10/2022</td>
                                        <td>sinhcute</td>
                                        <td>
                                            <div class="badge badge-pill badge-success">Paid</div>
                                        </td>
                                        <td>50.000đ</td>
                                    </tr>
                                    </tbody>

                                </table>
                                <div>
                                    <span>Tổng số đơn: 4, </span>
                                    <span class="bold text-primary">Tổng tiền: 83,000</span>,
                                    <span class="i text-warning">Tổng nợ: 68,000 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    Copyright 2020 <a href="#">FinDash</a> All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->

    <!-- modal them khach hang -->
    <div class="modal fade" id="createCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mw-100 w-75  ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo Nhà cung cấp</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2"
                                       placeholder="Apartment, studio, or floor">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>

                        </div>


                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="/layout/script/footer :: footer"></th:block>
    </div>
    <th:block th:replace="/layout/script/footer :: footer"></th:block>
</div>
</body>

</html>