<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="debt_deduction">
    <div class="modal fade" id="modalDebtDeduction" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header btn-primary">
                    <h5 class="modal-title" style="color: white">Chi tiết đơn hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <span aria-hidden="true">X</span>
                </div>
                <div class="modal-body" id="modalPaymentCustomer">

                    <div class="container-fluid">
                        <div class="row">
                            <input type="hidden" id="idUpdatePayment" value="0"/>
                            <div class="col-md-7 mt-2" style="color: black">
                                <table id="tbPaymentCustomer">
                                    <thead>
                                    <tr class="col-12 text-center">
                                        <th class="col-4">
                                            Số lượng (kg)
                                        </th>
                                        <th class="col-4">
                                            Giá (đ)
                                        </th>
                                        <th class="col-4 justify-content-end">
                                            Thành tiền (đ)
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody >

                                    </tbody>

                                </table>
                            </div>
                            <div class="col-md-5 mt-2" style="background-color: white; border-radius: 10px;">

                                <h5 class="mt-4">Thanh toán nợ (đ)<span id="debts"  style="float: right"></span></h5>

                                <hr>

                                <div class="mt-2">
                                    <h5>Nhập số tiền muốn trả (đ)</h5>
                                    <input type="text" id="inputPricePayments" class="inputPricePms" style="border: none; width: 200px; float: right; text-align: end" value="0"
                                           placeholder="Nhập số tiền muốn trả">
                                </div>
                                <hr>
                                <div class="mt-2">
                                    <input id="datetimeLocalPayment" type="date" style="border: none; width: 200px">
                                </div>
                                <hr>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <button id="savePayment" type="button" class="btn btn-primary" data-dismiss="modal"
                            style="float: right">Lưu lại
                    </button>

                </div>


            </div>


        </div>
    </div>
</th:block>