<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="debt_deduction">
  <div class="modal fade" id="modalDebtDeduction" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal withdraw money</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" id="frmWithdraw">
            <div class="row">
              <div class="col-lg-6 mt-3">
                <label for="quantity">Số lượng</label>
                <span type="text" id="quantity"></span>
              </div>
              <div class="col-lg-6 mt-3">
                <label for="price">Giá</label>
                <span type="text" id="price"></span>
              </div>
              <div class="col-lg-6 mt-3">
                <label for="balanceWd">Current balance ($)</label>
                <input type="text" class="form-control" id="balanceWd" readonly>
              </div>
              <div class="col-lg-6 mt-3">
                <label for="transactionAmountWd">Transaction Amount ($)</label>
                <input type="text" class="form-control" id="transactionAmountWd">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-warning" id="btnWithdraw">Withdraw</button>
        </div>
      </div>
    </div>
  </div>
</th:block>