<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"/>
    <title>Order Supplier</title>
</head>

<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">

    <th:block th:replace="/layout/sidebar/left_side_bar.html"/>
    <!-- TOP Nav Bar -->
    <th:block th:replace="/layout/topNav/topNav :: topNav"/>
    <!-- Sidebar  -->
    <!-- TOP Nav Bar -->
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <a class="form-control-sm" href="/purchase">
                    <i class="fas fa-chevron-left"></i>
                    <span style="font: initial;">Kho hàng</span>
                </a>
            </div>
            <div class="row">
                <h3 style="font: initial;font-size: xx-large;">Phiếu nhập hàng</h3>
            </div>
            <div class="row" style="margin-top: 25px;">
                    <div class="list-group col-md-8">
                        <div class="list-group">
                            <div class="supplier-info">
                                <h5 style="font: initial;font-size: large;">Thông tin sản phẩm</h5>
                                <div class="filter_product_box">
                                    <nav class="navbar navbar-light bg-light">
                                        <div class="row">
                                            <div class="dropdown">
                                                <input style="width: 217px;" class="form-control search" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" id="searchProduct" type="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search" />
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <div style="width: 216px;font-size: 14px;" class="dropdown-item" >Vui lòng nhập tên sản phẩm</div>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                                <div class="list-product-purchase">
                                    <form id="orderPurchase">
                                        <table class="table" id="tbItemPurchase">
                                            <thead class="bg-primary">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Tên sản phẩm</th>
                                                <th scope="col">Số lượng(kg)</th>
                                                <th scope="col">Giá nhập(đ)</th>
                                                <th scope="col">Thành tiền(đ)</th>
                                                <th>
                                                    <i class="fas fa-triangle"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group col-md-4">
                            <div class="purchase-info">
                                <h5 style="font: initial;font-size: large;">Thông tin phiếu nhập hàng</h5>
                                <div class="filter_product_box">
                                    <nav class="navbar navbar-light bg-light" style="padding-left: 0;padding-right: 0">
                                        <div class="dropdown-supplier">
                                            <input style="width: 290px" class="form-control search-supplier" id="supplier" name="supplier" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" type="search" placeholder="Tìm kiếm nhà cung cấp" aria-label="Search" />
                                            <div class="dropdown-menu" style="width: 292px;overflow-y: scroll;height: 100px;"  aria-labelledby="dropdownMenuLinks">
                                                <div class="dropdown-item" >Vui lòng nhập tên nhà cung cấp</div>
                                            </div>
                                        </div>
                                        <div class="btn btn-primary" style="width: 40px;height: 40px;line-height: 27px">
                                            <a class="text-white create" id="createSupplier">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                                <input class="form-control mt-2" id="dateID" type="datetime-local" min="2022-01-01T13:00" name="dateTime" value="Ngày tạo"/>
                            </div>
                            <div class="bill_info" style="margin-top: 20px;">
                                <h5 style="font: initial;font-size: large;margin-bottom: 7px;">Thông tin thanh toán</h5>
                                <span style="font: initial;font-size: medium;">Tổng cộng</span>
                                <span class="grandTotal"></span>
                            </div>
                            <div class="payment_purchase">
                                <div style="margin-bottom: 20px;margin-top: 10px;">
                                    <span style="font: initial;font-size: medium;">Đã thanh toán:</span>
                                    <input class="form-control form-control-sm" style="float: right; width: 240px; text-align: right" type="number" id="cusPayment"/>
                                </div>
                                <div>
                                    <span style="font: initial;font-size: medium;">Còn nợ: </span>
                                    <span class="paid" style="float: right; color: red; font-weight: 600; font-size: 17px"></span>
                                </div>
                            </div>
                            <button type="button" id="btnImportOrder" class="btn btn-primary" style="font: initial;font-size: large;margin-top: 5px;">
                                Nhập hàng
                            </button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<!--<footer class="iq-footer">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--                <ul class="list-inline mb-0">-->
<!--                    <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>-->
<!--                    <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col-lg-6 text-right">-->
<!--                Copyright 2020 <a href="#">FinDash</a> All Rights Reserved.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->

<th:block th:replace="/user/supplier/modalCreateSupplier :: createSupplier"/>
<th:block th:replace="/layout/footer/footer :: footer" />
<script>
    var colors = ['#007bff', '#28a745', '#444444', '#c3e6cb', '#dc3545', '#6c757d'];

    var chBar = document.getElementById("chBar");
    var chartData = {
        labels: ["Monday", "Tusday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        datasets: [

            {
                data: [489, 135, 483, 290, 189, 603, 600],
                backgroundColor: colors[0]
            },
            {
                data: [639, 465, 493, 478, 589, 632, 674],
                backgroundColor: colors[1]
            }]
    };

    if (chBar) {
        new Chart(chBar, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    xAxes: [{
                        barPercentage: 0.4,
                        categoryPercentage: 0.5
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
    }

</script>
<!-- Footer END -->
<th:block th:replace="/layout/script/footer :: footer" />
<script>

    let order = new Order();

    let user = new User();

    let item = new Item();

    let orderItem = new OrderItem();

    let product = new Product();

    let paymentPurchase = new PaymentPurchase();

    let orderPayment = new OrderPayment();


    $(document).ready(function() {

        let date = new Date();

        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        let hours = date.getHours();
        let minutes = date.getMinutes()

        let todays = moment(date).format("DD-MM-YYYY hh:mm")

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        let today = year + "-" + month + "-" + day +"T00:00";
        $("#dateID").attr("value", today);

    });

    function renderProduct(obj){

        let totalAmount = +obj.price * +obj.quantity;

        if (totalAmount < 0){
            totalAmount = 0;
        }
        if (obj.price < 0){
            totalAmount = 0;
        }
        if (obj.quantity < 0){
            totalAmount = 0;
        }


        let str = `
                 <tr id = "tr_${obj.productId}">
                    <th scope="row" id="${obj.productId}" class="productId" >${obj.productId}</th>
                    <td>${obj.title}</td>
                    <td >
                        <input autocomplete="off" id="productQuantity" name="productQuantity" class="form-control form-control-sm quantityItemPurchase" type="number" value="${obj.quantity}">
                    </td>
                    <td>
                        <input id="productPrice" name="productPrice" class="form-control form-control-sm priceItemPurchase" type="number" value="${obj.price}">
                        </td>
                    <td>
                        <input disabled class="form-control form-control-sm itemTotalAmount" type="number" value="${totalAmount}">
                    </td>
                </tr>
        `
        return str;
    }


    function handleSelectSupplierSearch(){
        $(".supplier-search").off();
        $(".supplier-search").on("click", function (){
            let id = $(this).data("id");
            let filename = $(this).data("filename");
            let phone = $(this).data("phone");

            let obj = {
                id,
                filename,
                phone
            }

            console.log(obj);

            $(".search-supplier").val(filename);
            $(".search-supplier").attr("id", id);
            $(".search-supplier").attr("disabled", "success");

            iziToast.success({
                title: 'OK',
                position: 'bottomLeft',
                timeout: 1500,
                message: 'Thêm nhà cung cấp thành công!!'
            });
        })
    }

    let arr = [];

    function handleSelectProductSearch() {
        $(".product-search").off();
        $(".product-search").on("click", function () {
            let id = $(this).data("id");
            let title = $(this).data("title");
            let price = $(this).data("price").replaceAll(" ", "");
            let quantity = 1;

            let obj = {
                "productId":  id,
                "quantity" : quantity,
                "title" : title,
                "price" : price
            }

            let exist = false;
            let index = -1;

            if (arr.length === 0) {
                arr.push(obj)
                iziToast.success({
                    title: 'OK',
                    position: 'bottomLeft',
                    timeout: 1500,
                    message: 'Thêm sản phẩm thành công!!'
                });
            }
            else {
                for (let i = 0; i < arr.length; i++) {
                    if (arr[i].productId === id) {
                        exist = true;
                        index = i;
                    }
                }

                if (exist) {
                    arr[index].quantity += 1;
                    iziToast.success({
                        title: 'OK',
                        position: 'bottomLeft',
                        timeout: 1500,
                        message: 'Thêm sản phẩm thành công!!'
                    });
                }
                else {
                    arr.push(obj);
                    iziToast.success({
                        title: 'OK',
                        position: 'bottomLeft',
                        timeout: 1500,
                        message: 'Thêm sản phẩm thành công!!!'
                    });
                }
            }

            if(arr.length > 0){

                $("#tbItemPurchase tbody").empty();
                $.each(arr, (i, item) => {
                    let str = renderProduct(item)

                    $("#tbItemPurchase tbody").prepend(str);

                    $("#searchProduct").html("");

                    handleGrandTotal();

                    groupEvent();
                })
            }
        });
    }

    function renderProductBox(obj){

        let str = `
                <button class="dropdown-item product-search" id="trs_${obj.id}" data-id="${obj.id}" data-title="${obj.title}" data-price="${obj.price}">Tên sản phẩm: ${obj.title}
                        <p class="card-text">Giá:
                             <b>${obj.price} đ</b>
                          </p>
                </button>
                `
        return str;
    }

    function renderSupplier(obj){

        let str =`
                <button class="dropdown-item supplier-search" id="trd_${obj.id}" data-id="${obj.id}" data-filename="${obj.fullName}" data-phone ="${obj.phone}" >
                    ${obj.fullName} |  ${obj.phone}
                </button>
                  <hr>
        `
        return str;
    }

    function handleQuantityItemPurchase() {

        $(".quantityItemPurchase").on("input", function () {

            let quantity = +$(this).val();

            let rowId = +$(this).parents().parents().attr("id").replaceAll("tr_", "");

            let price = $("#" + rowId + " .priceItemPurchase").val();

            $.each(arr, (i, item) => {
                console.log("item.productId: " + item.productId)
                if (item.productId === rowId) {
                    arr[i].quantity = quantity;
                }
            })

            $("#tbItemPurchase tbody").empty();

            $.each(arr, (i, item) => {
                let str = renderProduct(item)

                $("#tbItemPurchase tbody").prepend(str);

                handleGrandTotal();

                groupEvent();
            })
            iziToast.success({
                title: 'OK',
                position: 'bottomLeft',
                timeout: 1500,
                message: 'Thêm sản phẩm thành công!!'
            });
        })
    }

    function handlePriceItemPurchase() {

            $(".priceItemPurchase").on("input", function () {

            let price = +$(this).val();

            let rowId = $(this).parents().parents().attr("id");

            let quantity = $("#" + rowId + " .quantityItemPurchase").val();

            let newAmount = quantity * price;

            $("#" + rowId + " .itemTotalAmount").val(newAmount)

            handleGrandTotal();
        })
    }

    function handleGrandTotal(){

        let grandTotal = 0;

        $("#tbItemPurchase tbody tr").each(function (){

            let rowId = $(this).attr("id");

            let item = $("#" + rowId + " .itemTotalAmount");

            let subTotal = +$(item).val();

            grandTotal += subTotal;

        })

        $("#cusPayment").on("input", function (){
            let payment = +$("#cusPayment").val();

            let newPayment = grandTotal - payment;

            if (newPayment < 0){

                $(".paid").text("0đ");

            }else {

                $(".paid").text(App.formatNumberSpace(newPayment + "đ"));

            }
        })

        $(".grandTotal").attr("grandTotal", grandTotal);

        $(".grandTotal").text(App.formatNumberSpace(grandTotal + "đ"));

    }

    $(".itemTotalAmount").on('input',handleGrandTotal);




    function getAllProduct(){
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/products"
        })
        .done((data)=>{
            $.each(data, (i,item)=>{

                product = item;

                let str = renderProduct(item)

                $("#tbItemPurchase tbody").prepend(str);

                groupEvent();

            })

            handleImportOrder();

        })
        .fail((jqXHR)=>{
            console.log(jqXHR)
        })
    }

    function groupEvent(){

        handleQuantityItemPurchase();

        handlePriceItemPurchase();

    }
    let orderItemPurchases = [];

    function importPurchaseOrder(){

        orderPayment.userId = $(".search-supplier").attr("id");

        let supplierId = $("#supplier").val();

        if ( supplierId  === ""){
            iziToast.error({
                title: 'ERROR',
                position: 'bottomLeft',
                timeout: 2000,
                message: 'Nhà cung cấp không được để trống!'
            });
        }else {

            orderPayment.createdAt = $("#dateID").val();

            orderPayment.paid = $("#cusPayment").val();

            orderPayment.orderItemPurchases = arr;

            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: "http://localhost:8080/api/orders/create/import",
                data: JSON.stringify(orderPayment)
            })
                .done((data) => {

                    order = data;

                    user = order.user;

                    iziToast.success({
                        title: 'OK',
                        position: 'bottomLeft',
                        timeout: 1500,
                        message: 'Nhập hàng thành công!!'
                    });

                    window.location.href = ("/purchase");
                })
                .fail((jqXHR)=> {

                    console.log(jqXHR);

                    iziToast.error({
                        title: 'ERROR',
                        position: 'bottomLeft',
                        timeout: 2000,
                        message: 'Nhập hàng thất bại!'
                    });

                })
        }


    }

    function handleImportOrder(){
        $("#btnImportOrder").on("click", () => {

            let grandTotal = +$(".grandTotal").text();

            console.log(grandTotal)

            let payment = +$("#cusPayment").val();

            console.log(payment);

            let quantity = $("#productQuantity").val();

            let price = $("#productPrice").val();

            if (quantity <= 0){
                iziToast.error({
                    title: 'ERROR',
                    position: 'bottomLeft',
                    timeout: 2500,
                    message: 'Số lượng nhập vào phải lớn hơn 0!!'
                });
            }

            if (price <= 0){
                iziToast.error({
                    title: 'ERROR',
                    position: 'bottomLeft',
                    timeout: 2500,
                    message: 'Giá tiền sản phẩm phải lớn hơn 0!!'
                });
            }

            if (payment == ""){
                iziToast.error({
                    title: 'ERROR',
                    position: 'bottomLeft',
                    timeout: 2500,
                    message: 'Vui lòng nhập số tiền thanh toán!!'
                });
            }else
            if (payment > grandTotal){
                iziToast.error({
                    title: 'ERROR',
                    position: 'bottomLeft',
                    timeout: 2500,
                    message: 'Số tiền thanh toán phải nhỏ hơn tổng giá trị đơn hàng!!'
                });
            }else if (payment < 0){
                iziToast.error({
                    title: 'ERROR',
                    position: 'bottomLeft',
                    timeout: 2500,
                    message: 'Số tiền thanh toán phải lớn hơn 0!'
                });
            }else {
                importPurchaseOrder();
            }

        })
    }

    function searchByNameProduct(keySearch){
        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/products/search/" + keySearch
        })
        .done((data)=> {

            $(".dropdown .dropdown-menu").html("");
            console.log(keySearch);
            $.each(data, (i,item)=>{ 
                product = item;
                product.price = App.formatNumberSpace(product.price);

                let str = renderProductBox(item);

                $(".dropdown .dropdown-menu").prepend(str);

                handleSelectProductSearch();


            })
            if (data.length === 0){
                let std = `<div class="dropdown-item" >Không tìm thấy sản phẩm</div>`
                $(".dropdown .dropdown-menu").prepend(std);
            }

        })
        .fail((jqXHR)=>{
            $(".dropdown .dropdown-menu").html("");
            console.log(jqXHR);
            let std = `<div class="dropdown-item" >Không tìm thấy sản phẩm</div>`
            $(".dropdown .dropdown-menu").prepend(std);
        })
    }

    function searchByNameSupplier(keySearch){
        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/users/searchSup/" + keySearch
        })
            .done((data) => {
                $(".dropdown-supplier .dropdown-menu").html("");
                console.log(keySearch);
                $.each(data, (i,item)=> {
                    user = item;

                    let str = renderSupplier(item);

                    $(".dropdown-supplier .dropdown-menu").prepend(str);

                    handleSelectSupplierSearch();

                })
                if (data.length === 0){
                    let std = `<div class="dropdown-item" >Không tìm thấy nhà cung cấp</div>`
                    $(".dropdown-supplier .dropdown-menu").prepend(std);
                }
            })
            .fail((jqXHR)=>{
                $(".dropdown-supplier .dropdown-menu").html("");

                let std = `<div class="dropdown-item" >Không tìm thấy nhà cung cấp</div>`
                $(".dropdown-supplier .dropdown-menu").prepend(std);
                console.log(jqXHR);
            })
    }

    function enableTooltip() {
        $('[data-toggle="tooltip"]').tooltip();
    }

    let btnCreate = $("#btnCreateSup");

    btnCreate.on("click", function () {
        let createUser = {
            "roleId": 0,
            "fullName": $('#nameSup').val(),
            "phone": $('#phoneSup').val(),
            "email": $('#emailSup').val(),
            "address": $('#addressSup').val(),
            "avatarUrl": "https://enshaafuture.com/public/img/default-avatar.jpg",
        }
        console.log(createUser)
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "POST",
            url: "http://localhost:8080/api/users/createSupplier",
            data: JSON.stringify(createUser)
        }).done((data) => {
            console.log(data)

            user = data;

            $(".search-supplier").val(user.fullName);
            $(".search-supplier").attr("id", user.id)

            handleSelectSupplierSearch();

            iziToast.success({
                title: 'OK',
                position: 'bottomLeft',
                timeout: 1500,
                message: 'Thêm nhà cung cấp thành công!!'
            });

            $("#modalCreateSupplier").modal('hide');

            enableTooltip();

        }).fail((jqHRX) => {
            console.log(jqHRX)

            iziToast.error({
                title: 'ERROR',
                position: 'bottomLeft',
                timeout: 2000,
                message: 'Thêm nhà cung cấp thất bại!!'
            });

        });
    })



    $("#modalCreateSupplier").on("hidden.bs.modal", function () {

        $("#frmCreateSup")[0].reset();
        $('#modalCreateSupplier .modal-alert-danger').removeClass('show').addClass('hide');

    });

    function clearInput(){
       let searchBox =  $(".search").val();
        console.log(searchBox);
        if (searchBox.length === 0){
            $(".dropdown .dropdown-menu").html("");
        }
    }
    function clearInputSearch(){
        let searchBox =  $(".search-supplier").val();
        console.log(searchBox);
        if (searchBox.length === 0){
            $(".dropdown-supplier .dropdown-menu").html("");
        }
    }

    $('.search').on('input', function (){
        let keyword = $('.search').val();
        searchByNameProduct(keyword);
    })
    $(".search-supplier").on("input", function (){
        let keySearch = $(".search-supplier").val();
        searchByNameSupplier(keySearch);
    })

    $(".search-supplier").on("input", function () {
        $('.search-supplier').dropdown();
    })

    $(".search").on("input", function () {
        $('.search').dropdown();
    })



    $("#createSupplier").on("click", function (){
        $("#modalCreateSupplier").modal("show");
    })

    $(()=> {
        handleImportOrder();
    })

</script>

</body>

</html>