<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"/>
</head>

<body>
<!-- loader Start -->
<!--<div id="loading">-->
<!--    <div id="loading-center">-->
<!--    </div>-->
<!--</div>-->
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">

    <th:block th:replace="/layout/sidebar/left_side_bar.html"/>
    <!-- TOP Nav Bar -->
    <th:block th:replace="/layout/topNav/topNav :: topNav"/>
    <!-- Sidebar  -->
    <!-- TOP Nav Bar -->
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <a class="form-control-sm" href="/purchase">
                    <i class="fas fa-chevron-left"></i>
                    <span>Kho hàng</span>
                </a>
            </div>
            <div class="row">
                <h3>Phiếu nhập hàng</h3>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="list-group col-md-8">
                    <div class="list-group">
                        <div class="supplier-info">
                            <h5>Thông tin sản phẩm</h5>
                            <div class="filter_product_box">
                                <nav class="navbar navbar-light bg-light">
                                    <div class="row">
<!--                                        <div class="search-box">-->
<!--                                            <form class="form-inline">-->
<!--                                                <input  class="form-control form-control-sm mr-sm-2" type="search" id="doSearch" placeholder="Tìm kiếm sản phẩm" aria-label="Search">-->
<!--                                                <button class="btn btn-outline-primary my-2 my-sm-1 btn-sm" type="submit">Tìm kiếm</button>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                        <div class="list-group">-->
<!--                                            <div class="card-body">-->
<!--                                                <h5 class="card-title">Card title</h5>-->
<!--                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="dropdown">
                                            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                                <input class="form-control search" type="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search" />
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" >Không tìm thấy sản phẩm</a>
<!--                                                <a class="dropdown-item" href="#">Another action</a>-->
<!--                                                <a class="dropdown-item" href="#">Something else here</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <div class="list-product-purchase">
                                <table class="table" id="tbItemPurchase">
                                    <thead class="bg-primary">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Số lượng(kg)</th>
                                        <th scope="col">Giá nhập</th>
                                        <th scope="col">Thành tiền</th>
                                    </tr>
                                    </thead>
                                    <tbody>
<!--                                    <tr>-->
<!--                                        <th scope="row">1</th>-->
<!--                                        <td>Mark</td>-->
<!--                                        <td>100</td>-->
<!--                                        <td>1000</td>-->
<!--                                        <td>100000</td>-->
<!--                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="list-group col-md-4">
                    <div class="purchase-info">
                        <h5>Thông tin phiếu nhập hàng</h5>
                        <div class="filter_product_box">
                            <nav class="navbar navbar-light bg-light">
                                <div class="dropdown-supplier">
                                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLinks" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                        <input class="form-control search-supplier" type="search" placeholder="Tìm kiếm nhà cung cấp" aria-label="Search" />
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLinks">
                                        <button class="dropdown-item" >Không tìm thấy nhà cung cấp</button>
                                        <!--                                                <a class="dropdown-item" href="#">Another action</a>-->
                                        <!--                                                <a class="dropdown-item" href="#">Something else here</a>-->
                                    </div>
                                </div>
                                <div class="btn btn-primary">
                                    <a class="text-white create" id="createSupplier">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <input class="form-control mt-2" id="dateID" type="date" min= name="dateTime" value="Ngày tạo"/>
                    </div>
                    <div class="bill_info" style="margin-top: 15px;">
                        <h5>Thông tin thanh toán</h5>
                        <span>Tổng cộng</span>
                        <span class="grandTotal"></span>
                    </div>
                    <button id="btnImportOrder" class="btn btn-primary">
                        Nhập hàng
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<footer class="iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2020 <a href="#">FinDash</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>

<th:block th:replace="/user/supplier/modalCreateSupplier :: createSupplier"/>

<script>
    var colors = ['#007bff', '#28a745', '#444444', '#c3e6cb', '#dc3545', '#6c757d'];

    var chBar = document.getElementById("chBar");
    var chartData = {
        labels: ["Monday", "Tusday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        datasets: [

            {
                data: [489, 135, 483, 290, 189, 603, 600],
                backgroundColor: colors[0]
            },
            {
                data: [639, 465, 493, 478, 589, 632, 674],
                backgroundColor: colors[1]
            }]
    };

    if (chBar) {
        new Chart(chBar, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    xAxes: [{
                        barPercentage: 0.4,
                        categoryPercentage: 0.5
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
    }

</script>
<!-- Footer END -->
<th:block th:replace="/layout/script/footer :: footer" />
<script>

    let order = new Order();

    let user = new User();

    let item = new Item();

    let product = new Product();



    $(
        function(){
            //Display Only Date till today //

            let dtToday = new Date();

            let month = dtToday.getMonth() + 1;
            let day = dtToday.getDate();
            let year = dtToday.getFullYear();
            if(month < 10)
                month = '0' + month.toString();
            if(day < 10)
                day = '0' + day.toString();

            let maxDate = year + '-' + month + '-' + day;

            $('#dateID').attr('max', maxDate );
        }
    )
    document.getElementById('dateID').value = new Date().toISOString().substring(0, 10);

    function renderProduct(obj){

        let totalAmount = +obj.price * +obj.quantity;

        let grandTotal = 0;



        let str = `
                 <tr id = "tr_${obj.id}">
                    <th scope="row">${obj.id}</th>
                    <td>${obj.title}</td>
                    <td >
                        <input class="form-control form-control-sm quantityItemPurchase" type="number" value="${obj.quantity}">
                    </td>
                    <td>
                        <input class="form-control form-control-sm priceItemPurchase" type="number" value="${obj.price}">
                        </td>
                    <td>
                        <input disabled class="form-control form-control-sm itemTotalAmount" type="number" value="${totalAmount}">
                    </td>
                </tr>
        `
        return str;
    }


    function handleSelectSupplierSearch(){
        $(".supplier-search").off();
        $(".supplier-search").on("click", function (){
            let id = $(this).data("id");
            let filename = $(this).data("filename");
            let phone = $(this).data("phone");

            let obj = {
                id,
                filename,
                phone
            }

            console.log(obj);

            $(".search-supplier").val(filename);
        })
    }

    let arr = [];

    function handleSelectProductSearch() {
        $(".product-search").off();
        $(".product-search").on("click", function () {
            let id = $(this).data("id");
            let title = $(this).data("title");
            let price = $(this).data("price").replaceAll(" ", "");
            let quantity = 1;

            let obj = {
                id,
                quantity,
                title,
                price
            }

            let exist = false;
            let index = -1;

            if (arr.length === 0) {
                arr.push(obj)
            }
            else {
                for (let i = 0; i < arr.length; i++) {
                    if (arr[i].id === id) {
                        exist = true;
                        index = i;
                    }
                }

                if (exist) {
                    arr[index].quantity += 1;
                }
                else {
                    arr.push(obj);
                }
            }

            if(arr.length > 0){

                $("#tbItemPurchase tbody").empty();
                $.each(arr, (i, item) => {
                    let str = renderProduct(item)

                    $("#tbItemPurchase tbody").prepend(str);

                    handleGrandTotal();

                    groupEvent();
                })
            }
        });
    }

    function renderProductBox(obj){

        let str = `
                <button class="dropdown-item product-search" id="trs_${obj.id}" data-id="${obj.id}" data-title="${obj.title}" data-price="${obj.price}">Tên sản phẩm: ${obj.title}
                        <p class="card-text">Giá:
                             <b>${obj.price} đ</b>
                          </p>
                </button>
                `
        return str;
    }

    function renderSupplier(obj){

        let str =`
                <button class="dropdown-item supplier-search" id="trd_${obj.id}" data-id="${obj.id}" data-filename="${obj.fullName}" data-phone ="${obj.phone}" >
                    ${obj.fullName} |  ${obj.phone}
                  </button>
        `
        return str;
    }

    function handleQuantityItemPurchase() {

        $(".quantityItemPurchase").on("input", function () {

            let quantity = +$(this).val();



            let rowId = +$(this).parents().parents().attr("id").replaceAll("tr_", "");

            let price = $("#" + rowId + " .priceItemPurchase").val();

            console.log("rowId: " + rowId)
            // console.log(arr)

            $.each(arr, (i, item) => {
                console.log("item.id: " + item.id)
                if (item.id === rowId) {
                    arr[i].quantity = quantity;

                    console.log(arr)
                }
            })

            $("#tbItemPurchase tbody").empty();

            $.each(arr, (i, item) => {
                let str = renderProduct(item)

                $("#tbItemPurchase tbody").prepend(str);

                handleGrandTotal();

                groupEvent();
            })

            // let newAmount = quantity * price;

            // $("#" + rowId + " .itemTotalAmount").val(newAmount)

            // handleGrandTotal();
        })
    }

    function handlePriceItemPurchase() {

            $(".priceItemPurchase").on("input", function () {

            let price = +$(this).val();

            let rowId = $(this).parents().parents().attr("id");

            let quantity = $("#" + rowId + " .quantityItemPurchase").val();

            let newAmount = quantity * price;

            $("#" + rowId + " .itemTotalAmount").val(newAmount)

            handleGrandTotal();
        })
    }

    function handleGrandTotal(){

        let grandTotal = 0;

        $("#tbItemPurchase tbody tr").each(function (){

            let rowId = $(this).attr("id");

            let item = $("#" + rowId + " .itemTotalAmount");

            let subTotal = +$(item).val();

            grandTotal += subTotal;

        })


        $(".grandTotal").text(App.formatNumberSpace(grandTotal + "đ"));
    }

    $(".itemTotalAmount").on('input',handleGrandTotal);



    function getAllProduct(){
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/products"
        })
        .done((data)=>{
            $.each(data, (i,item)=>{

                product = item;

                let str = renderProduct(item)

                $("#tbItemPurchase tbody").prepend(str);

                groupEvent();

            })

            handleImportOrder();

        })
        .fail((jqXHR)=>{
            console.log(jqXHR)
        })
    }

    function groupEvent(){

        handleQuantityItemPurchase();

        handlePriceItemPurchase();

    }

    function importPurchaseOrder(){
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: "http://localhost:8080/api/orders/create/import"
        })
        .done((data) => {

            iziToast.success({
                title: 'OK',
                position: 'bottomLeft',
                timeout: 1500,
                message: 'Nhập hàng thành công!!'
            });

        })
        .fail((jqXHR)=> {

            console.log(jqXHR);

            iziToast.error({
                title: 'ERROR',
                position: 'bottomLeft',
                timeout: 2000,
                message: 'Nhập hàng thất bại!'
            });

        })
    }

    function handleImportOrder(){
        $("#btnImportOrder").on("click", () => {
            importPurchaseOrder();
        })
    }

    function searchByNameProduct(keySearch){
        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/products/search/" + keySearch,
            // "data": JSON.stringify(product)
        })
        .done((data)=> {
            $(".dropdown .dropdown-menu").html("");
            console.log(keySearch);
            $.each(data, (i,item)=>{
                product = item;
                product.price = App.formatNumberSpace(product.price);

                let str = renderProductBox(item);

                $(".dropdown .dropdown-menu").prepend(str);

                handleSelectProductSearch();
            })
            if (data.length === 0){
                let std = `<a class="dropdown-item" >Không tìm thấy sản phẩm</a>`
                $(".dropdown .dropdown-menu").prepend(std);
            }

        })
        .fail((jqXHR)=>{
            $(".dropdown .dropdown-menu").html("");
            console.log(jqXHR);
            let std = `<a class="dropdown-item" >Không tìm thấy sản phẩm</a>`
            $(".dropdown .dropdown-menu").prepend(std);
        })
    }

    function searchByNameSupplier(keySearch){
        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/users/searchSup/" + keySearch
        })
            .done((data) => {
                $(".dropdown-supplier .dropdown-menu").html("");
                console.log(keySearch);
                $.each(data, (i,item)=> {
                    user = item;

                    let str = renderSupplier(item);

                    $(".dropdown-supplier .dropdown-menu").prepend(str);

                    handleSelectSupplierSearch();
                })
                if (data.length === 0){
                    let std = `<a class="dropdown-item" >Không tìm thấy nhà cung cấp</a>`
                    $(".dropdown-supplier .dropdown-menu").prepend(std);
                }
            })
            .fail((jqXHR)=>{
                $(".dropdown-supplier .dropdown-menu").html("");

                let std = `<a class="dropdown-item" >Không tìm thấy nhà cung cấp</a>`
                $(".dropdown-supplier .dropdown-menu").prepend(std);
                console.log(jqXHR);
            })
    }

    function enableTooltip() {
        $('[data-toggle="tooltip"]').tooltip();
    }

    let btnCreate = $("#btnCreateSup");

    btnCreate.on("click", function () {
        let createUser = {
            "roleId": 0,
            "fullName": $('#nameSup').val(),
            "phone": $('#phoneSup').val(),
            "email": $('#emailSup').val(),
            "address": $('#addressSup').val(),
            "avatarUrl": "https://enshaafuture.com/public/img/default-avatar.jpg",
        }
        console.log(createUser)
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "POST",
            url: "http://localhost:8080/api/users/createSupplier",
            data: JSON.stringify(createUser)
        }).done((data) => {
            console.log(data)
            let str = renderUser(data)
            $("#tbSupplier tbody").prepend(str);
            App.iziToast.showSuccessAlert("Thêm mới thành công")
            $("#modalCreateSupplier").modal('hide')
            enableTooltip();
        }).fail((jqHRX) => {
            console.log(jqHRX)
        });
    })

    $('.dropdown-toggle').dropdown();

    $("#modalCreateSupplier").on("hidden.bs.modal", function () {

        $("#frmCreateSup")[0].reset();
        $('#modalCreateSupplier .modal-alert-danger').removeClass('show').addClass('hide');

    });

    function clearInput(){
       let searchBox =  $(".search").val();
        console.log(searchBox);
        if (searchBox.length === 0){
            $(".dropdown .dropdown-menu").html("");
        }
    }
    function clearInputSearch(){
        let searchBox =  $(".search-supplier").val();
        console.log(searchBox);
        if (searchBox.length === 0){
            $(".dropdown-supplier .dropdown-menu").html("");
        }
    }

    $('.search').on('input', function (){
        let keyword = $('.search').val();
        searchByNameProduct(keyword);
    })
    $(".search-supplier").on("input", function (){
        let keySearch = $(".search-supplier").val();
        searchByNameSupplier(keySearch);
    })

    $("#createSupplier").on("click", function (){
        $("#modalCreateSupplier").modal("show");
    })

    $(()=> {
        // clearInput();
        // clearInputSearch();
        // // getAllProduct();
    })

</script>

</body>

</html>