<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head" />

</head>

<body>
<!-- loader Start -->
<!--<div id="loading">-->
<!--    <div id="loading-center">-->
<!--    </div>-->
<!--</div>-->
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <th:block th:replace="/layout/sidebar/left_side_bar.html"/>
    <!-- TOP Nav Bar -->
    <th:block th:replace="/layout/topNav/topNav :: topNav"/>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="title_menu">
            <div class="">
                <p class="font-weight-bold">Kho hàng / Nhập hàng</p>
            </div>
        </div>
        <div class="button_create_order">
            <a href="/purchase_order" class="btn btn-primary">
                <i class="fas fa-plus"></i>Nhập hàng
            </a>
        </div>
        <div class="list_form_show">
            <div class="filter_product_box">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <input style="margin-left: -16px" class="form-control form-control-sm mr-sm-1 search" id="searchOrder" type="search" placeholder="Tìm kiếm" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-1 btn-sm" id="btnSearch" type="submit">Tìm kiếm</button>
                    </form>
                </nav>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover table-bordered" id = "tbListOrder">
                    <thead>
                    <tr class="list_product">
                        <td>ID</td>
                        <td>Ngày Nhập</td>
                        <td>Người Nhập</td>
                        <td>Nhà cung cấp</td>
                        <td>
                            <select class="form-control selectStatus" style="height: fit-content" name="cars" id="cars">
                                <option value="Trạng thái">Trạng thái</option>
                                <option class="pending" value="PENDING">PENDING</option>
                                <option id="complete" value="COMPLETE">COMPLETE</option>
                                <option id="cancel" value="CANCEL">CANCEL</option>
                            </select>
                        </td>
                        <td>Tổng tiền</td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
<!-- Wrapper END -->
<!-- Footer -->
<footer class="iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2020 <a href="#">FinDash</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<script>
    var colors = ['#007bff', '#28a745', '#444444', '#c3e6cb', '#dc3545', '#6c757d'];

    var chBar = document.getElementById("chBar");
    var chartData = {
        labels: ["Monday", "Tusday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        datasets: [

            {
                data: [489, 135, 483, 290, 189, 603, 600],
                backgroundColor: colors[0]
            },
            {
                data: [639, 465, 493, 478, 589, 632, 674],
                backgroundColor: colors[1]
            }]
    };

    if (chBar) {
        new Chart(chBar, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    xAxes: [{
                        barPercentage: 0.4,
                        categoryPercentage: 0.5
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
    }

</script>
<!-- Footer END -->
<th:block th:replace="/layout/script/footer :: footer" />
<script>

    let order = new Order();

    let user = new User();


    function renderOrder(obj){


        let str = `
              <tr class="list-product" id="tr_${obj.id}">
                        <th>${obj.id}</th>
                        <th>${obj.createdat}</th>
                        <th>${obj.code}</th>
                        <th>${obj.fullname}</th>
                        <th>${obj.orderstatus}</th>
                        <th>${obj.grandtotal} đ</th>
                    </tr>
        `

        return str;
    }

    function getUserById(userId) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                type: "GET",
                url: "http://localhost:8080/api/users/" + userId,
            }).done((data) => {

            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )

    }

    $('.search').on('input', function (){
        let keyword = $('.search').val();
        searchByName(keyword);
    })

    function searchByName(keySearch){
        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/search/" + keySearch
        })
        .done((data) => {
            $("#tbListOrder tbody").html("");

            $.each(data , (i,item) => {

                order = item;

                order.createdat = moment(order.createdat).format("yyyy-mm-dd HH:mm:ss");

                order.grandtotal = App.formatNumberSpace(order.grandtotal);

                let str =  renderOrder(item);

                $("#tbListOrder tbody").prepend(str);

            })
        })
        .fail((jqXHR) => {
            console.log(jqXHR);
        })
    }
    


    $(".selectStatus").on("change", function ()  {

        let type = $(this).val();

        if (type === "PENDING"){
            handleShowOrderPending();
        }
        if (type === "COMPLETE"){
            handleShowOrderComplete();
        }
        if(type === "CANCEL"){
            handleShowOrderCancel();
        }
    })

    function handleShowOrderPending(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/pending"
        })
            .done((data)=>{
                $("#tbListOrder tbody").html("");

                console.log(data);
                $.each(data, (i,item)=>{

                    order.createdat = moment(order.createdat).format("yyyy-mm-dd HH:mm:ss");

                    order.grandtotal = App.formatNumberSpace(order.grandtotal);

                    let str =  renderOrder(item);

                    $("#tbListOrder tbody").prepend(str);

                })

            })
            .fail((jqXHR)=>{
                console.log(jqXHR)
            })
    }

    function handleShowOrderComplete(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/complete"
        })
            .done((data)=>{
                $("#tbListOrder tbody").html("");

                console.log(data);
                $.each(data, (i,item)=>{

                    order.createdat = moment(order.createdat).format("yyyy-mm-dd HH:mm:ss");

                    order.grandtotal = App.formatNumberSpace(order.grandtotal);

                    let str =  renderOrder(item);

                    $("#tbListOrder tbody").prepend(str);

                })

            })
            .fail((jqXHR)=>{
                console.log(jqXHR)
            })
    }

    function handleShowOrderCancel(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/cancel"
        })
            .done((data)=>{
                $("#tbListOrder tbody").html("");

                console.log(data);
                $.each(data, (i,item)=>{

                    order.createdat = moment(order.createdat).format("yyyy-mm-dd HH:mm:ss");

                    order.grandtotal = App.formatNumberSpace(order.grandtotal);

                    let str =  renderOrder(item);

                    $("#tbListOrder tbody").prepend(str);

                })

            })
            .fail((jqXHR)=>{
                console.log(jqXHR)
            })
    }





    function getAllOrder(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/imports"
        })
        .done((data) => {

            $.each(data , (i,item) => {

                order = item;

                order.createdat = moment(order.createdat).format("yyyy-mm-dd HH:mm:ss");

                order.grandtotal = App.formatNumberSpace(order.grandtotal);

                let str =  renderOrder(item);

                $("#tbListOrder tbody").prepend(str);

            })
        })
    }

    getAllOrder();


</script>

</body>

</html>