<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"/>
    <title>Order</title>
</head>

<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <th:block th:replace="/layout/sidebar/left_side_bar.html"/>
    <!-- TOP Nav Bar -->
    <th:block th:replace="/layout/topNav/topNav :: topNav"/>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="title_menu">
            <div class="">
                <p class="font-weight-bold" style="font: initial;font-size: x-large;">Phiếu nhập / Nhập hàng</p>
            </div>
        </div>
        <div class="button_create_order" style="margin-bottom: 10px;">
            <a href="/purchase_order" style="font: initial;" class="btn btn-primary">
                <i class="fas fa-plus"></i>Nhập hàng
            </a>
        </div>
<!--        <div class="list_form_show">-->
<!--            <div class="filter_product_box">-->
<!--                <nav class="navbar navbar-light bg-light">-->
<!--                    <form class="form-inline">-->
<!--                        <input style="margin-left: -16px" class="form-control search" id="searchOrder" type="search" placeholder="Tìm kiếm" aria-label="Search">-->
<!--&lt;!&ndash;                        <button class="btn btn-outline-primary my-2 my-sm-1 btn-sm" id="btnSearch" type="submit">Tìm kiếm</button>&ndash;&gt;-->
<!--                    </form>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->

        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover table-bordered" id = "tbListOrder">
                    <thead>
                    <tr class="list_product">
                        <td>ID</td>
                        <td>Nhà cung cấp</td>
                        <td>Người Nhập</td>
                        <td>
                            <select class="form-control selectStatus" style="height: fit-content;  text-align: center" name="cars" id="cars">
                                <option disabled selected value="Trạng thái">Trạng thái</option>
                                <option value="ALL">Tất cả</option>
                                <option value="PENDING">Đang xử lý</option>
                                <option value="COMPLETED">Hoàn thành</option>
                            </select>
                        </td>
                        <td>Tổng tiền</td>
                        <td>Ngày Nhập</td>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>


<!-- Wrapper END -->
<!-- Footer -->
<th:block th:replace="/layout/footer/footer.html"></th:block>


<!-- Footer END -->
<th:block th:replace="/layout/script/footer :: footer" />
<th:block th:replace="/layout/footer/footer :: footer" />
<th:block th:replace="/admin/order/modalChangeStatus :: modalChangeStatus" />
<th:block th:replace="/admin/order/print_order :: print_order"/>

<script>

    let order = new Order();

    let user = new User();

    let orderItem = new OrderItem();

    let product = new Product();

    let paymentPurchase = new PaymentPurchase();

    let productId = null;

    let orderId = null;


    function renderOrder(obj){

        let debt = +obj.grandtotal - +obj.paid;

        let s1 = "";
        switch (obj.orderstatus) {
            case "PENDING":
                s1 = "<option value='PENDING' style='color: #ffe101;font: inherit;'>Đang xử lý</option>"
                break;
            case "COMPLETED":
                s1 = "<option value='COMPLETED' style='color: #1e3d73;font: inherit;'>Hoàn thành</option>";
                break;
            // case "CANCELLED":
            //     s1 = "<option value='CANCELLED' style='color: red;font: inherit;'>Đã hủy</option>";
            //     break;
        }
        let s2 = ""
        if (debt !== 0){
            s2 =  `<i style="color: red;font-size: smaller;" id="debt_${obj.id}">Nợ (${debt} đ)</i>`
        }
        // <select class="form-control statusOrder" style="height: fit-content;color: black;font-weight: bold; text-align: center" name="cars" id="cars">
        //   ${s1}
        // </select>

        let str = `
              <tr class="list-product change"  data-toggle="collapse" data-target="#trc_${obj.id}" id="tr_${obj.id}" aria-expanded="false" aria-controls="trc_${obj.id}">
                        <th>${obj.id}</th>
                        <th>${obj.fullname}</th>
                        <th>${obj.code}</th>
                        <th>${s1}
                        </th>
                        <th style="text-align: right">${App.formatNumberSpace(obj.grandtotal)} đ </br>
                                 ${s2}
                        </th>
                        <th>${obj.createdat}</th>
              </tr>
              <tr class="payment_info_${obj.id} hide" id="trh_${obj.id}">
                    <td class="payment_info_tr"  colspan="7">
                         <div class="row collapse" id="trc_${obj.id}">
                            <div class="col-lg-8">
                                <table class="table" id="tbItemPurchase">
                                    <thead style="background-color: #acacac; color: black; ">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Số lượng(kg)</th>
                                        <th scope="col">Giá nhập(đ)</th>
                                        <th scope="col">Thành tiền(đ)</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                 </table>
                            </div>
                            <div class="col-lg-4 payment">

                            </div>
                         </div>
                    </td>
              </tr>

        `
        return str;
    }

    $('#collapseExample').collapse({
        toggle: true,
        dispose: true
    })

    $('#inputSearch').on('input', function (){
        let keyword = $('#inputSearch').val();
        searchByName(keyword);
    })

    function searchByName(keySearch){
        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/search/" + keySearch
        })
        .done((data) => {
            $("#tbListOrder tbody").html("");

            $.each(data , (i,item) => {

                order = item;

                order.createdat =  moment(order.createdat).format("DD/MM/YYYY - hh:mm");

                let str =  renderOrder(item);

                $("#tbListOrder tbody").prepend(str);

            })
            if (data.length === 0){
                let std = `<tr style="text-align: center">
                                <td colspan="6" style="font-size: 15px">Không tìm thấy đơn hàng</td>
                            </tr>`

                $("#tbListOrder tbody").prepend(std);
            }
            handleClick();
            doPaid();
        })
        .fail((jqXHR) => {
            console.log(jqXHR);
            let str = `<tr>Không tìm thấy đơn hàng</tr>`

            $("#tbListOrder tbody").prepend(str);
        })
    }

    $("#tbListOrder tbody .change").on("click", function (){

        let id = $(this).val("id");
        console.log(id);

    })



    function changeStatus(){
        console.log(orderId);

        order.id = orderId;
        order.status = $(".statusOrder").val();

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "PATCH",
            "url": "http://localhost:8080/api/orders/update",
            "data": JSON.stringify(order)
        })
        .done((data) =>{

            order = data;

            let str = renderOrder(data);

            let currentRow = $('#tr_' + data.id);

            currentRow.replaceWith(str);

            iziToast.success({
                title: 'OK',
                position: 'bottomLeft',
                timeout: 1500,
                message: 'Thay đổi trạng thái đơn hàng thành công!!'
            });

        })
        .fail((jqXHR)=>{
            console.log(jqXHR)

            iziToast.error({
                title: 'ERROR',
                position: 'bottomLeft',
                timeout: 2000,
                message: 'Thay đổi trạng thái đơn hàng thất bại!!'
            });
        })
    }

    $(".selectStatus").on("change", function ()  {

        let type = $(this).val();

        if(type === "ALL"){
            getAllOrder();
        }
        if (type === "PENDING"){
            handleShowOrderPending();
        }
        if (type === "COMPLETED"){
            handleShowOrderComplete();
        }
        if(type === "CANCELLED"){
            handleShowOrderCancel();
        }
    })

    function handleShowOrderPending(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/pending"
        })
            .done((data)=>{
                $("#tbListOrder tbody").html("");

                console.log(data);
                $.each(data, (i,item)=>{
                    order = item;

                    order.createdat =  moment(order.createdat).format("DD/MM/YYYY - hh:mm");

                    let str =  renderOrder(item);

                    $("#tbListOrder tbody").prepend(str);

                })
                if (data.length === 0){
                    let std = `<tr style="text-align: center">
                                <td colspan="6" style="font-size: 15px">Không tìm thấy đơn hàng</td>
                            </tr>`

                    $("#tbListOrder tbody").prepend(std);
                }
                handleClick();

            })
            .fail((jqXHR)=>{
                console.log(jqXHR)
                if (data.length === 0){
                    let std = `    <tr style="text-align: center">
                                <td colspan="6" style="font-size: 15px">Không tìm thấy đơn hàng</td>
                                </tr>
                                `

                    $("#tbListOrder tbody").prepend(std);
                }
            })
    }

    function handleShowOrderComplete(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/complete"
        })
        .done((data)=>{
            $("#tbListOrder tbody").html("");

            console.log(data);
            $.each(data, (i,item)=>{
                order = item;

                order.createdat =  moment(order.createdat).format("DD/MM/YYYY - hh:mm");


                let str =  renderOrder(item);

                $("#tbListOrder tbody").prepend(str);

            })
            if (data.length === 0){
                let std = `<tr style="text-align: center">
                                <td colspan="6" style="font-size: 15px">Không tìm thấy đơn hàng</td>
                            </tr>`

                $("#tbListOrder tbody").prepend(std);
            }

            handleClick();

        })
        .fail((jqXHR)=>{
            console.log(jqXHR)
            if (data.length === 0){
                let std = `<tr style="text-align: center">
                                <td colspan="6" style="font-size: 15px">Không tìm thấy đơn hàng</td>
                            </tr>`

                $("#tbListOrder tbody").prepend(std);
            }
        })
    }

    function handleShowOrderCancel(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/cancel"
        })
            .done((data)=>{
                $("#tbListOrder tbody").html("");

                console.log(data);
                $.each(data, (i,item)=>{

                    order = item;

                    order.createdat = moment(order.createdat).format("DD/MM/YYYY - hh:mm");

                    let str =  renderOrder(item);

                    $("#tbListOrder tbody").prepend(str);

                })
                if (data.length === 0){
                    let std = `<tr style="text-align: center">
                                    <td colspan="6" style="font-size: 15px">Không tìm thấy đơn hàng</td>
                                </tr>
                               `

                    $("#tbListOrder tbody").prepend(std);
                }

                handleClick();

            })
            .fail((jqXHR)=>{
                console.log(jqXHR)
                if (data.length === 0){
                let std = `
                           <tr style="text-align: center">
                               <td colspan="6" style="font-size: 15px">Không tìm thấy đơn hàng</td>
                           </tr>
                            `

                    $("#tbListOrder tbody").prepend(std);
                }
            })
    }

    function renderTablePayment(obj){

        let grandTotal = +obj.quantity * +obj.price

        let str = `
                   <tr id="trd_${obj.id}">
                        <th scope="row">${obj.id}</th>
                        <td>${obj.title}</td>
                        <td>${obj.quantity}</td>
                        <td>${App.formatNumberSpace(obj.price)}</td>
                        <td>${App.formatNumberSpace(grandTotal)}</td>
                    </tr>
                   `

        return str
    }

    function renderInfoPayment(obj){

        let oldPayment = +obj.grandTotal - +obj.paid;

        let std = `
                  <div class="card">
                        <ul  class="list-group list-group-flush">
                           <li class="list-group-item">
                                <span style="float: left">Còn nợ</span>
                                <span style="float: right; color: red" id="debt_${orderId}">${App.formatNumberSpace(oldPayment)} đ</span>
                            </li >
                            <li  class="list-group-item">
                                <span style="float: left;" id="dropdownMenuOffset_${orderId}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                  Đã trả
                                    <div class="dropdown mr-1" style="left: -43px;top: -47px">
                                      <div class="dropdown-menu" style="width: 327px;height: 200px;overflow: scroll;" aria-labelledby="dropdownMenuOffset_${orderId}">
                                        </div>
                                    </div>
                                </span>
                                <span style="float: right;" id="payment_${orderId}">${App.formatNumberSpace(obj.paid)} đ</span>
                            </li>
                            <li  class="list-group-item">
                                    <span style="float: left">Thanh toán</span>
                                    <input type="number" name="paidCr" style="float: right; text-align: right" id="paid_${orderId}"/>
                            </li>
                        </li >
                        <div class="card-body">
                            <button class="btn btn-success" type="button" id="doPaid_${orderId}">Thanh toán</button>
                            <button class="btn btn-primary" id="btnPrint_${orderId}">
                                <i class="fas fa-print"></i>
                            </button>
                        </div>
                         <div id="panelCart_${orderId}" class="panelCart hide">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header" style="color: #1a179e;font: initial;background-color: #acacac;font-weight: 700;">Lịch sử thanh toán</div>
                                <div class="card-body text-dark infor" style="padding-top: 8px;padding-bottom: 8px;overflow: scroll;">
                                </div>
                            </div>
                        </div>
                  </div>
                   `
    return std;
    }

    function renderBill(orderItem){

        let std = `
                            <tr >
                                <td class="">${orderItem.title}</td>
                                <td class="text-end">${orderItem.quantity}</td>
                                <td class="text-end">${App.formatNumberSpace(orderItem.price)}</td>
                                <td class="text-end">${App.formatNumberSpace(orderItem.price*orderItem.quantity)}</td>
                             </tr>
                    `

        return std;
    }

    function handleUpdatePayment(){

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/order-items/" + orderId
        })
        .done( (data) => {
            $(`#trh_${orderId} .payment_info_tr #tbItemPurchase tbody`).html("");
            $(`#trh_${orderId} .payment_info_tr #trc_${orderId} .payment`).html("");
            $("#renderBills tbody").html("");
            $("#payment").html("");

            let std = null;

            $.each(data, (i,item)=>{

                orderItem = item;

                let str = renderTablePayment(item)

                $(`#trh_${orderId} .payment_info_tr #tbItemPurchase tbody`).prepend(str);

                $(`#trh_${orderId}`).removeClass("hide").addClass("show");


                std = renderBill(orderItem);

                $("#customerBills span").text(orderItem.fullName);
                $("#totalAmountBills").text(App.formatNumberSpace((orderItem.grandTotal)) + " đ")

                let paid = App.formatNumberSpace(orderItem.paid);

                let stt = `
                    <td colspan="3" class="fw-bold" style="font-weight: 700;">Đã thanh toán: </td>
                    <td id="totalPayments">${paid} đ</td>
                `


                $("#payment").append(stt);
                $("#renderBills tbody").prepend(std);

                let newDate = new Date();
                $("#timeBills span").text(moment(orderItem.createdAt).format("DD/MM/YYYY - hh:mm:ss"))
                $("#timeSendBills span").text(moment(newDate).format("DD/MM/YYYY - hh:mm:ss"));

            })





            if(orderItem.paid !== orderItem.grandTotal){
                let std = renderInfoPayment(orderItem);

                $(`#trh_${orderId} .payment_info_tr #trc_${orderId} .payment`).prepend(std);
                doPaid();

            }else {
                let print = `
                      <div class="">
                          <button style="float: left" class="btn btn-primary" id="btnPrint_${orderId}">
                             <i class="fas fa-print"></i>
                           </button>
                       </div>
                `
                $(`#trh_${orderId} .payment_info_tr #trc_${orderId} .payment`).prepend(print);
            }

            handleShowPrint();
            handleShowHistoryPayment();
            handleShowHistoryPayments();
        })
        .fail((jqXHR) => {
            console.log(jqXHR);
        })

    }


    function doPaid(){

        $(`#doPaid_${orderId}`).on("click", function (){

            paymentPurchase.orderId = orderId.replaceAll("trh_", "");

            console.log(orderId);

            let debt = $(`#debt_${paymentPurchase.orderId}`).text().replaceAll("Nợ", "").replaceAll(" ", "").replaceAll("(","").replaceAll(")", "").replaceAll("đ", "");;

            console.log(debt);

            let paid = $(`#paid_${paymentPurchase.orderId}`).val();

            console.log(paid)

            if (paid <= 0){
                iziToast.error({
                    title: 'ERROR',
                    position: 'bottomLeft',
                    timeout: 2000,
                    message: 'Số tiền thanh toán phải lớn hơn 0!!'
                });
            }else if(paid > debt){
            iziToast.error({
                title: 'ERROR',
                position: 'bottomLeft',
                timeout: 2000,
                message: 'Số tiền thanh toán phải nhỏ hơn số tiền nợ!!'
            })
            }else {
                paymentPurchase.paid = paid;

                $.ajax({
                    "headers": {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    "type": "POST",
                    "url": "http://localhost:8080/api/orders/payable",
                    "data": JSON.stringify(paymentPurchase)
                })
                    .done((data) => {
                        paymentPurchase = data;

                        let newOrderId = orderId.replaceAll("trh_", "");

                        let oldPaid  = $(`#payment_${newOrderId}`).text().replaceAll(" ", "").replaceAll("đ", "");

                        let newPaid = +oldPaid + +paymentPurchase.paid;

                        let debt = $(`#debt_${newOrderId}`).text().replaceAll(" ", "").replaceAll("đ", "").replaceAll("Nợ", "").replaceAll(")", "").replaceAll("(","");

                        console.log(debt);

                        let newDebt = +debt - +paymentPurchase.paid;

                        console.log(newDebt);

                        $(`#trh_${newOrderId} .payment_info_tr #trc_${newOrderId} .payment .card`).html("");

                        $(`#debt_${newOrderId}`).html("");

                        let std = `
                  <div class="card">
                        <ul  class="list-group list-group-flush">
                           <li  class="list-group-item">
                                <span style="float: left">Còn nợ</span>
                                <span style="float: right; color: red" id="debt_${newOrderId}">${App.formatNumberSpace(newDebt)} đ</span>
                            </li >
                            <li  class="list-group-item">
                                 <span style="float: left" id="pay_money_${newOrderId}">Đã trả</span>
                                 <span style="float: right;" id="payment_${newOrderId}">${newPaid} đ</span>
                            </li >
                            <li  class="list-group-item">
                                    <span style="float: left">Thanh toán</span>
                                    <input type="number" name="paid" style="float: right; text-align: right" id="paid"/>
                            </li>
                        </li >
                        <div class="card-body">
                            <button class="btn btn-success" type="button" id="doPaid_${newOrderId}">Thanh toán</button>
                            <button class="btn btn-primary" id="btnPrint_${orderId}">
                             <i class="fas fa-print"></i>
                           </button>
                        </div>
                  </div>
                   `

                        let stt = `
                   <i style="color: red;font-size: smaller;" id="debt_${newOrderId}">Nợ (${newDebt} đ)</i>
                `

                        if (newDebt === 0){
                            let print = `
                      <div class="">
                          <button style="float: left" class="btn btn-primary" id="btnPrint_${orderId}">
                             <i class="fas fa-print"></i>
                           </button>
                       </div>
                `
                            $(`#trh_${orderId} .payment_info_tr #trc_${orderId} .payment`).prepend(print);


                        }else {
                            $(`#trh_${newOrderId} .payment_info_tr #trc_${newOrderId} .payment .card`).prepend(std);

                            $(`#debt_${newOrderId}`).prepend(stt);
                        }

                        iziToast.success({
                            title: 'OK',
                            position: 'bottomLeft',
                            timeout: 1500,
                            message: 'Thanh toán đơn hàng thành công!!'
                        });
                        doPaid();
                        handleShowPrint();

                    })
                    .fail((jqXHR) => {
                        console.log(jqXHR);
                        iziToast.error({
                            title: 'ERROR',
                            position: 'bottomLeft',
                            timeout: 2000,
                            message: 'Thanh toán đơn hàng thất bại!!'
                        });
                    })
            }


        })
    }


    function getAllOrder(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/imports"
        })
        .done((data) => {
            $("#tbListOrder tbody").html("")
            $.each(data , (i,item) => {

                order = item;

                order.createdat = moment(order.createdat).format("DD/MM/YYYY - hh:mm");

                let str =  renderOrder(item);

                $(".btnEdit").attr("id", order.id);

                $("#tbListOrder tbody").prepend(str);

            })
            handleClick();
            handleEvent();
        })
    }

    function handleClick(){
        $("#tbListOrder tbody tr.change").on("click", function () {

            orderId = $(this).attr('id').replace('tr_', '');

            let expanded =  $(this).attr("aria-expanded");
            console.log(expanded);

            let rowId = $(`#tbListOrder tbody .payment_info_${orderId}`).val();

            console.log(rowId);

            if (expanded === true) {
                $(`#tbListOrder tbody .payment_info_${orderId}`).removeClass("show").addClass("hide");
            }
            handleUpdatePayment();
        })
    }

    function handleEvent(){
        $("#tbListOrder tbody tr .statusOrder").on("click", function (){
            orderStatus = $(this).attr('value');
            console.log(orderStatus);
        })
    }


    function handleChangeStatus(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/imports"
        })
        .done((data) => {
            $.each(data , (i,item) => {

                order = item;

                order.createdat = moment(order.createdat).format("DD/MM/YYYY - hh:mm");

                let str =  renderOrder(item);

                $("#tbListOrder tbody").prepend(str);

            })
        })
    }

    function getProductById(productId){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/products/" + productId
        })
        .done((data) => {

            product = data;

        })
    }

    function handleShowHistoryPayment(){
        $(`#pay_money_${orderId}`).on("click", function (){

            $(`#panelCart_${orderId}`).removeClass("hide").addClass("show");

            loadAllPayment();

        })
    }

    let paymentOrderId = null;

    function handleShowHistoryPayments(){
        $(`#dropdownMenuOffset_${orderId}`).on("click", function (){

            paymentOrderId =  $(this).attr("id").replaceAll("dropdownMenuOffset_", "");

            console.log(paymentOrderId);

            loadAllPayment();
        })
    }

    function loadAllPayment(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/paymentPurchase/" + paymentOrderId
        })
        .done((data) => {
            console.log(paymentOrderId);
            $(".dropdown .dropdown-menu").html("");

            let stdHeader = `
                                <p class="dropdown-header" style="color: #1a179e;font: initial;background-color: #acacac;font-weight: 700;text-align: center;">Lịch sử thanh toán</p>
                            `;
            $(".dropdown .dropdown-menu").append(stdHeader);

            $.each(data , (i,item) => {

                paymentPurchase = item;

                paymentPurchase.createdAt = moment(paymentPurchase.createdAt).format("DD/MM/YYYY - hh:mm")

                paymentPurchase.paid = App.formatNumberSpace(paymentPurchase.paid);

                let str =  `
                       <div class="card-title">
                            <span style="float: left">${paymentPurchase.createdAt}</span>
                            <span style="float: right">${paymentPurchase.paid} đ</span>
                        </div>
                `
                let std = `
                            <div class="dropdown-item" style="margin-bottom: 5px;">
                                 <span style="float: left;margin-right: 50px">${paymentPurchase.createdAt}</span>
                                 <span style="float: right; font-weight: 600;">${paymentPurchase.paid} đ</span>
                                 <div style="clear: both"></div>
                            </div>
                         `

                $(".dropdown .dropdown-menu").append(std);

            })
        })
    }
    function handleShowPrint(){
        $(`#btnPrint_${orderId}`).on("click", function (){

            $("#showPrint").removeClass('d-none');

            window.print();

            $("#showPrint").addClass('d-none')

        })
    }

    $('.collapse').collapse()

    $.FormatDateTime = function (dateToFormat) {

        let dateObj = new Date(dateToFormat);

        let month = (dateObj.getUTCMonth() + 1).toString().padStart(2, "0");
        let day = dateObj.getUTCDate().toString().padStart(2, "0");
        let year = dateObj.getUTCFullYear().toString().padStart(4, "0");
        let hours = dateObj.getUTCHours().toString().padStart(2, "0");
        let minutes = dateObj.getUTCMinutes().toString().padStart(2, "0");

        let dateStr =  hours + ":" + minutes + "/" + day + "/" + month + "/" + year ;

        return dateStr;
    }

    getAllOrder();


</script>

</body>

</html>