<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"/>
</head>

<body>
<!-- loader Start -->
<!--<div id="loading">-->
<!--    <div id="loading-center">-->
<!--    </div>-->
<!--</div>-->
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <th:block th:replace="/layout/sidebar/left_side_bar.html"/>
    <!-- TOP Nav Bar -->
    <th:block th:replace="/layout/topNav/topNav :: topNav"/>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="title_menu">
            <div class="">
                <p class="font-weight-bold">Kho hàng / Nhập hàng</p>
            </div>
        </div>
        <div class="button_create_order">
            <a href="/purchase_order" class="btn btn-primary">
                <i class="fas fa-plus"></i>Nhập hàng
            </a>
        </div>
        <div class="list_form_show">
            <div class="filter_product_box">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <input style="margin-left: -16px" class="form-control search" id="searchOrder" type="search" placeholder="Tìm kiếm" aria-label="Search">
<!--                        <button class="btn btn-outline-primary my-2 my-sm-1 btn-sm" id="btnSearch" type="submit">Tìm kiếm</button>-->
                    </form>
                </nav>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover table-bordered" id = "tbListOrder">
                    <thead>
                    <tr class="list_product">
                        <td>ID</td>
                        <td>Nhà cung cấp</td>
                        <td>Người Nhập</td>
                        <td>
                            <select class="form-control selectStatus" style="height: fit-content;  text-align: center" name="cars" id="cars">
                                <option disabled selected value="Trạng thái">Trạng thái</option>
                                <option value="PENDING">PENDING</option>
                                <option value="COMPLETED">COMPLETED</option>
                                <option value="CANCELLED">CANCELLED</option>
                            </select>
                        </td>
                        <td>Tổng tiền</td>
                        <td>Ngày Nhập</td>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
<!-- Wrapper END -->
<!-- Footer -->
<footer class="iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2020 <a href="#">FinDash</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<script>
    var colors = ['#007bff', '#28a745', '#444444', '#c3e6cb', '#dc3545', '#6c757d'];

    var chBar = document.getElementById("chBar");
    var chartData = {
        labels: ["Monday", "Tusday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        datasets: [

            {
                data: [489, 135, 483, 290, 189, 603, 600],
                backgroundColor: colors[0]
            },
            {
                data: [639, 465, 493, 478, 589, 632, 674],
                backgroundColor: colors[1]
            }]
    };

    if (chBar) {
        new Chart(chBar, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    xAxes: [{
                        barPercentage: 0.4,
                        categoryPercentage: 0.5
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
    }

</script>
<!-- Footer END -->
<th:block th:replace="/layout/script/footer :: footer" />
<th:block th:replace="/admin/order/modalChangeStatus :: modalChangeStatus" />
<script>

    let order = new Order();

    let user = new User();


    function renderOrder(obj){

        let s1 = "";
        switch (obj.orderstatus) {
            case "PENDING":
                s1 = "<option value='PENDING'>PENDING</option>" +
                    "<option value='COMPLETED'>COMPLETED</option>" +
                    "<option value='CANCELLED'>CANCELLED</option>"
                break;
            case "COMPLETED":
                s1 = "<option value='COMPLETED'>COMPLETED</option>";
                break;
            case "CANCELLED":
                s1 = "<option value='CANCELLED'>CANCELLED</option>";
                break;
        }
        // <select class="form-control statusOrder" style="height: fit-content;color: black;font-weight: bold; text-align: center" name="cars" id="cars">
        //   ${s1}
        // </select>

        let str = `
              <tr class="list-product change" id="tr_${obj.id}">
                        <th>${obj.id}</th>
                        <th>${obj.fullname}</th>
                        <th>${obj.code}</th>
                        <th>${obj.orderstatus}
                        </th>
                        <th style="text-align: right">${obj.grandtotal} đ</th>
                        <th>${obj.createdat}</th>
              </tr>
        `
        return str;
    }

    $('.search').on('input', function (){
        let keyword = $('.search').val();
        searchByName(keyword);
    })

    function searchByName(keySearch){
        return $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/search/" + keySearch
        })
        .done((data) => {
            $("#tbListOrder tbody").html("");

            $.each(data , (i,item) => {

                order = item;

                order.createdat = $.FormatDateTime(order.createdat);

                order.grandtotal = App.formatNumberSpace(order.grandtotal);

                let str =  renderOrder(item);

                $("#tbListOrder tbody").prepend(str);

            })
            if (data.length === 0){
                let std = `<tr style="text-align: center">
                                <td colspan="6" style="font-size: 15px">Không tìm thấy đơn hàng</td>
                            </tr>`

                $("#tbListOrder tbody").prepend(std);
            }
        })
        .fail((jqXHR) => {
            console.log(jqXHR);
            let str = `<tr>Không tìm thấy đơn hàng</tr>`

            $("#tbListOrder tbody").prepend(str);
        })
    }

    $("#tbListOrder tbody .change").on("click", function (){

        let id = $(this).val("id");
        console.log(id);

    })

    let orderId = null;

    function changeStatus(){
        console.log(orderId);

        order.id = orderId;
        order.status = $(".statusOrder").val();

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "PATCH",
            "url": "http://localhost:8080/api/orders/update",
            "data": JSON.stringify(order)
        })
        .done((data) =>{

            order = data;

            let str = renderOrder(data);

            let currentRow = $('#tr_' + data.id);

            currentRow.replaceWith(str);

            iziToast.success({
                title: 'OK',
                position: 'bottomLeft',
                timeout: 1500,
                message: 'Thay đổi trạng thái đơn hàng thành công!!'
            });

        })
        .fail((jqXHR)=>{
            console.log(jqXHR)

            iziToast.error({
                title: 'ERROR',
                position: 'bottomLeft',
                timeout: 2000,
                message: 'Thay đổi trạng thái đơn hàng thất bại!!'
            });
        })
    }

    $(".selectStatus").on("change", function ()  {

        let type = $(this).val();

        if (type === "PENDING"){
            handleShowOrderPending();
        }
        if (type === "COMPLETED"){
            handleShowOrderComplete();
        }
        if(type === "CANCELLED"){
            handleShowOrderCancel();
        }
    })

    function handleShowOrderPending(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/pending"
        })
            .done((data)=>{
                $("#tbListOrder tbody").html("");

                console.log(data);
                $.each(data, (i,item)=>{
                    order = item;

                    order.createdat = $.FormatDateTime(order.createdat);

                    order.grandtotal = App.formatNumberSpace(order.grandtotal);

                    let str =  renderOrder(item);

                    $("#tbListOrder tbody").prepend(str);

                })

            })
            .fail((jqXHR)=>{
                console.log(jqXHR)
            })
    }

    function handleShowOrderComplete(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/complete"
        })
        .done((data)=>{
            $("#tbListOrder tbody").html("");

            console.log(data);
            $.each(data, (i,item)=>{
                order = item;

                order.createdat = $.FormatDateTime(order.createdat);

                order.grandtotal = App.formatNumberSpace(order.grandtotal);

                let str =  renderOrder(item);

                $("#tbListOrder tbody").prepend(str);

            })

        })
        .fail((jqXHR)=>{
            console.log(jqXHR)
        })
    }

    function handleShowOrderCancel(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/cancel"
        })
            .done((data)=>{
                $("#tbListOrder tbody").html("");

                console.log(data);
                $.each(data, (i,item)=>{

                    order = item;

                    order.createdat = $.FormatDateTime(order.createdat);

                    order.grandtotal = App.formatNumberSpace(order.grandtotal);

                    let str =  renderOrder(item);

                    $("#tbListOrder tbody").prepend(str);

                })

            })
            .fail((jqXHR)=>{
                console.log(jqXHR)
            })
    }

    function getAllOrder(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/imports"
        })
        .done((data) => {

            $.each(data , (i,item) => {

                order = item;

                order.createdat = $.FormatDateTime(order.createdat);

                order.grandtotal = App.formatNumberSpace(order.grandtotal);

                let str =  renderOrder(item);

                $("#tbListOrder tbody").prepend(str);

                handleClick();
                handleEvent();

            })
        })
    }

    function handleClick(){
        $("#tbListOrder tbody tr").on("click", function () {
            orderId = $(this).attr('id').replace('tr_', '');
            // changeStatus();
            console.log(orderId);
        })
    }
    function handleEvent(){
        $("#tbListOrder tbody tr .statusOrder").on("click", function (){
            orderStatus = $(this).attr('value');
            console.log(orderStatus);
        })
    }


    $(".statusOrder").on("change", function (){
        let status =  $(this).val();
        console.log(status);
    })

    function handleChangeStatus(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/orders/imports"
        })
            .done((data) => {

                $.each(data , (i,item) => {

                    order = item;

                    order.createdat = $.FormatDateTime(order.createdat);

                    order.grandtotal = App.formatNumberSpace(order.grandtotal);

                    let str =  renderOrder(item);

                    $("#tbListOrder tbody").prepend(str);

                    // handleClick();

                })
            })
    }

    $.FormatDateTime = function (dateToFormat) {

        let dateObj = new Date(dateToFormat);

        let month = (dateObj.getUTCMonth() + 1).toString().padStart(2, "0");
        let day = dateObj.getUTCDate().toString().padStart(2, "0");
        let year = dateObj.getUTCFullYear().toString().padStart(4, "0");
        let hours = dateObj.getUTCHours().toString().padStart(2, "0");
        let minutes = dateObj.getUTCMinutes().toString().padStart(2, "0");

        let dateStr =  hours + ":" + minutes + "/" + day + "/" + month + "/" + year ;

        return dateStr;
    }

    getAllOrder();


</script>

</body>

</html>