<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="print_order_export">
    <div class="container print d-none" id="showPrint">
        <div class="text-center mt-3">TTS Noodle
            <div class="my-3">Địa chỉ : Số 28 Nguyễn Tri Phương</div>
            <div class="fw-bold">Điện thoại: 0363636366</div>
        </div>
        <div class="text-center mt-2 fw-bold"><h1>HÓA ĐƠN XUẤT HÀNG</h1>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <div id="timeBills" style="font-weight: 600;" class="fw-bold">Ngày Xuất: <span> </span></div>
                <div id="userBills" style="font-weight: 600;" class="my-3 fw-bold">Người Xuất: <span> ADMIN</span></div>
            </div>
            <div class="col-6" style="text-align: right">
                <div id="customerBills" style="font-weight: 600;" class="text-end fw-bold ">Tên khác hàng:
                    <span> </span></div>
                <div id="timeSendBills" style="font-weight: 600;" class="text-end fw-bold my-3">Ngày xuất đơn :
                    <span> </span></div>
            </div>
        </div>
        <div class="border-bottom my-3"></div>
        <div class="row">
            <table class="table center" style="text-align: center; border: 3px;" id="renderBills">
                <thead>
                <tr>
                    <th style="color: black" class="text-start">Tên Sản Phẩm</th>
                    <th style="color: black" class="text-end">Số Lượng</th>
                    <th style="color: black" class="text-end">Giá</th>
                    <th style="color: black" class="text-end">Thành tiền (đ)</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot style="text-align: right !important;">
                <tr class="text-end">
                    <td colspan="3" class="fw-bold" style="font-weight: 700;">Tổng cộng:</td>
                    <td id="totalAmountBills"></td>
                </tr>
                <tr class="text-end" id="payment">

                </tr>
                </tfoot>
            </table>

        </div>
        <div style="font-size: larger" class="text-center mt-3 fst-italic">!-------------------TTS
            Noodle-------------------!
        </div>
    </div>
</th:block>