<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<th:block th:fragment="show_view_detail">
      <div class="modal fade" id="modalEditOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-body">
                      <div class="">
                          <div>
                              <p>Chi tiết đơn hàng</p>
                          </div>
                          <div>
                              <p>Hoàn Thành</p>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

</th:block>