<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"/>
    <title>Customer</title>
</head>

<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <th:block th:replace="/layout/sidebar/left_side_bar.html"></th:block>
    <!-- TOP Nav Bar -->
    <!--    <th:block th:replace="/layout/topNav/topNav :: topNav"></th:block>-->
    <div class="iq-top-navbar">
        <div style="margin-top: 13px;" class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">

                <div class="iq-search-bar">
                    <form class="searchbox">
                        <label>
                            <input id="inputSearch" type="text" class="text search-input" placeholder="Search...">
                        </label>
                        <a id="btnSearch" class="search-link"><i class="ri-search-line"></i></a>
                    </form>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list">

                    </ul>
                </div>
                <ul class="navbar-list">
                    <li class="line-height">
                        <div class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            <a class="text-white create">Thêm khách hàng</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <a class="font-size-20 font-weight-bold" href="/customer">Khách Hàng</a>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">

                                <table id="tbCustomer" class="table table-striped table-bordered mt-4" role="grid"
                                       aria-describedby="user-list-page-info">

                                    <thead class="btn-primary">

                                    <tr class="text-center">
                                        <th>Ảnh</th>
                                        <th>Tên</th>
                                        <th>Email</th>
                                        <th>Điện Thoại</th>
                                        <th>Địa Chỉ</th>
                                        <th>Tổng tiền (đ)</th>
                                        <th>Nợ (đ)</th>
                                        <th>Lần Cuối MH</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">

                                    </tbody>
                                </table>
                                <div id="totalCus">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <th:block th:replace="/layout/footer/footer.html"></th:block>


    <!-- Footer END -->

    <!-- modal them khach hang -->
    <th:block th:replace="/user/customer/modalCreateCustomer :: createCustomer"></th:block>

    <th:block th:replace="/user/customer/modalUpdateCustomer :: updateCustomer"></th:block>
    <!--    End modal create-->

</div>


<th:block th:replace="/layout/script/footer :: footer"></th:block>


</body>
<script>

    let user = new User();
    let order = new Order();

    function enableTootip() {
        $('[data-toggle="tooltip"]').tooltip();
    }

    enableTootip();

    function renderUser(obj) {
        let totalOrders;
        let dayCre;
        let debt;
        if (dayCre === undefined) {
            dayCre = "Chưa Mua Hàng"
        }
        if (totalOrders === undefined) {
            totalOrders = 0;
        }
        if (debt === undefined) {
            debt = 0;
        }
        return `
                <tr id="tr_${obj.id}">
                    <td><img height="50" src=${obj.avatarUrl} alt="noavatar"></td>
                    <td>${obj.fullName}</td>
                     <td>${obj.email}</td>
                    <td>${obj.phone}</td>
                    <td>${obj.address}</td>
                    <td >${totalOrders} </td>
                    <td style="color: red">${debt}</td>
                    <td >${dayCre} </td>
                       <td class="w-45">
                               <a class="btn btn-outline-warning update" data-id="${obj.id}" data-toggle="tooltip"
                                data-toggle="modal" data-target="#modalUpdateCus"
                                data-original-title="Edit" >
                                  <i class="ri-pencil-line"></i>
                               </a>
                       </td>
                </tr>
    `;
    }

    function loadUsers() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/users/getUserByRoleId/" + 2,
        }).done((data) => {
            user = data;
            let totalOrder = 0;
            $.each(user, (i, userList) => {
                let paymentCustomer = 0;
                getPaymentByUserid(userList.id).then((payment) => {
                    $.each(payment, (i, paymentList) => {
                        // console.log(paymentList, "payment")
                        paymentCustomer += paymentList.paid;
                    })
                    console.log(paymentCustomer, "tiền trả")
                })
                let total = 0;
                let days;
                let debts= 0;
                getOrderById(userList.id).then((orderItem) => {
                     $.each(orderItem, (i, orders) => {
                        // console.log(orders, "order")
                        total += orders.grandTotal;
                        days = orders.createdAt;
                        totalOrder += orders.grandTotal
                         debts = total - paymentCustomer;
                    })
                    console.log(paymentCustomer, "nợ")
                    let str = `
                <tr id="tr_${userList.id}">
                    <td><img height="50" src=${userList.avatarUrl} alt="noavatar"></td>
                    <td>${userList.fullName}</td>
                     <td>${userList.email}</td>
                    <td>${userList.phone}</td>
                    <td>${userList.address}</td>
                    <td id="to"> ${new Intl.NumberFormat('vi-VN').format(total)} </td>
                    <td id="debt">${new Intl.NumberFormat('vi-VN').format(debts)}</td>
                    <td id="cra">${days === undefined ? "Chưa Mua Hàng" : moment(days).format('DD/MM/YYYY -- hh:mm')} </td>
                       <td class="w-45">
                               <a class="btn btn-outline-warning update" data-id="${userList.id}" data-toggle="tooltip"
                                data-toggle="modal" data-target="#modalUpdateCus"
                                data-original-title="Edit" >
                                  <i class="ri-pencil-line"></i>
                               </a>
                       </td>
                    </tr> `;
                    $("#tbCustomer tbody").prepend(str);
                })

            })

            let sum = `
                <span>Khách Hàng: ${data.length} / </span>
                <span class="bold text-primary">Tổng tiền: ${new Intl.NumberFormat('vi-VN', {
                style: "currency",
                currency: 'VND'
            }).format(totalOrder)}</span>
<!--                <span class="i text-warning">Tổng nợ: 68,000 </span>--> `;
            $("#totalCus").prepend(sum);

            enableTootip();
            showModalUpdateCus();
        }).fail((jqXHR) => {
            console.log(jqXHR);
        })
    }

    loadUsers();

    function getOrderById(userId) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                type: "GET",
                async: false,
                url: "http://localhost:8080/api/orders/byIdUser/" + userId,
            }).done((data) => {
                // console.log(data,"data")
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )
    }

    function getUserById(userId) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                type: "GET",
                url: "http://localhost:8080/api/users/" + userId,
            }).done((data) => {
                // showModalUpdateCus(data);
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )
    }

    function getPaymentByUserid(userId) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                async: false,
                type: "GET",
                url: "http://localhost:8080/api/orders/paymentCustomer/" + userId,
            }).done((data) => {
                // console.log(data, "paymentaaa")
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )

    }

    $(".create").on('click', function () {
        $("#modalCreateCustomer").modal('show')
    });

    let btnCreate = $("#btnCreateCus");
    btnCreate.on("click", function () {
        let createUser = {
            "roleId": 0,
            "fullName": $('#nameCus').val(),
            "phone": $('#phoneCus').val(),
            "email": $('#emailCus').val(),
            "address": $('#addressCus').val(),
            "avatarUrl": "https://img.pikbest.com/png-images/qianku/default-avatar_2404265.png!bw700",
        }
        // console.log(createUser)
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "POST",
            async: false,
            url: "http://localhost:8080/api/users/createCustomer",
            data: JSON.stringify(createUser)
        }).done((data) => {
            let str = renderUser(data)
            $("#tbCustomer tbody").prepend(str);
            App.iziToast.showSuccessAlert("Thêm mới thành công")
            $("#modalCreateCustomer").modal('hide')
            enableTootip();
            showModalUpdateCus()
        }).fail((jqHRX) => {
            console.log(jqHRX)
        });
    })

    $("#modalCreateCustomer").on("hidden.bs.modal", function () {
        $("#frmCreateCus")[0].reset();
        $('#modalCreateCustomer .modal-alert-danger').removeClass('show').addClass('hide');
    });


    function showModalUpdateCus() {
        $(".update").on('click', function () {
            let userId = $(this).data("id");
            getUserById(userId).then((data) => {

                console.log(data, "dataa0f  ;p")
                $('#idCusUp').val(userId)
                $('#nameCusUp').val(data.fullName);
                $('#emailCusUp').val(data.email);
                $('#phoneCusUp').val(data.phone);
                $('#addressCusUp').val(data.address);
                $('#avatarUp').val(data.avatarUrl);

                $('#modalUpdateCus').modal('show');
            })
        })
    }

    let btnUpdateCus = $('#btnUpdateCus');
    btnUpdateCus.on('click', function () {
        let userId = $('#idCusUp').val();

        let updateUser = {
            "fullName": $('#nameCusUp').val(),
            "phone": $('#phoneCusUp').val(),
            "email": $('#emailCusUp').val(),
            "address": $('#addressCusUp').val(),
            "avatarUrl": $('#avatarUp').val(),
        }
        let total = 0;
        let days ;
        let debt = 0;
        getOrderById(userId).then((orderId) => {
            $.each(orderId, (i, itemOrder) => {
                 total += itemOrder.grandTotal;
                days = itemOrder.createdAt
            })
        })
        getPaymentByUserid(userId).then((paymentId) => {
            $.each(paymentId, (i, itemPayment) => {
                debt += itemPayment.paid;
            })
        })
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "PUT",
            url: "http://localhost:8080/api/users/update/" + userId,
            data: JSON.stringify(updateUser)
        }).done((data) => {
            user = data;
            let str = `
                <tr id="tr_${user.id}">
                    <td><img height="50" src=${user.avatarUrl} alt="noavatar"></td>
                    <td>${user.fullName}</td>
                    <td>${user.email}</td>
                    <td>${user.phone}</td>
                    <td>${user.address}</td>
                    <td>${total}</td>
                    <td style="color: red">${debt} </td>
                    <td >${days === undefined ? "Chưa Mua Hàng" : moment(days).format("DD/MM/YYYY - hh:mm")}</td>
                    <td class="w-45">
                               <a class="btn btn-outline-warning update" data-id="${user.id}" data-toggle="tooltip"
                                data-toggle="modal" data-target="#modalUpdateCus"
                                data-original-title="Edit" >
                                  <i class="ri-pencil-line"></i>
                               </a>
                    </td>
                </tr>
            `;
            $("#tr_" + userId).replaceWith(str);
            App.iziToast.showSuccessAlert("Cập nhật thành công")
            $("#modalUpdateCus").modal('hide')
            enableTootip();
            $(".update").off('click')
            showModalUpdateCus();
        }).fail((jqHRX) => {
            console.log(jqHRX)
        });

    })

    function doSearchUser() {
        $('#btnSearch').on('click', function () {
            let keyword = $('#inputSearch').val();
            $('#tbCustomer tbody').html("")
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                type: "GET",
                url: "http://localhost:8080/api/users/searchCus/" + keyword
            }).done((data) => {
                $.each(data, (i, user) => {
                    let total = 0;
                    let days = "Chưa Mua Hàng";
                    getOrderById(user.id).then((userId) => {
                        $.each(userId, (i, itemUser) => {
                            total += itemUser.grandTotal;
                            days = itemUser.createdAt;
                        })
                    })
                    let str =
                        ` <tr id="tr_${user.id}">
                    <td><img height="50" src=${user.avatarUrl} alt="noavatar"></td>
                    <td>${user.fullName}</td>
                    <td>${user.email}</td>
                    <td>${user.phone}</td>
                    <td>${user.address}</td>
                    <td >${total} </td>
                    <td id="crb">${0}</td>
                    <td >${moment(days).format("DD/MM/YYYY - hh:mm")}</td
                    <td class="w-45">
                               <a class="btn btn-outline-warning update" data-id="${user.id}" data-toggle="tooltip"
                                data-toggle="modal" data-target="#modalUpdateCus"
                                data-original-title="Edit" >
                                  <i class="ri-pencil-line" ></i>
                               </a>
                    </td>
                </tr>   `;
                    $('#tbCustomer tbody').prepend(str)
                    showModalUpdateCus()
                })
            }).fail((jqXHR) => {
                console.log(jqXHR)
            })
        })
    }

    doSearchUser();


</script>

</html>