<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/layout/script/head :: head"></th:block>
</head>

<body>
<!-- loader Start -->
<!--<div id="loading">-->
<!--    <div id="loading-center">-->
<!--    </div>-->
<!--</div>-->
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div class="iq-sidebar">
        <div class="iq-navbar-logo d-flex justify-content-between">
            <a href="/home" class="header-logo">
                <!-- <img src="assets/images/logo.png" class="img-fluid rounded" alt=""> -->
                <img src="/assets/images/nudo.jpg" alt="">
                <span>Bún Việt</span>
            </a>
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-menu-line"></i></div>
                    <div class="hover-circle"><i class="ri-close-fill"></i></div>
                </div>
            </div>
        </div>
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class="active">
                        <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span
                                class="ripple rippleEffect"></span><i
                                class="las la-home iq-arrow-left"></i><span>Dashboard</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                            <li class="active"><a href="/home"><i class="las la-laptop-code"></i>Tổng Quan</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span
                                class="ripple rippleEffect"></span><i
                                class="las la-user-tie iq-arrow-left"></i><span>Khách hàng</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="/customer"><i class="las la-th-list"></i>Khách hàng</a>
                            </li>
                            <li><a href="/supplier"><i class="ri-database-line"></i>Nhà cung cấp</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#tables" class="iq-waves-effect collapsed" data-toggle="collapse"
                           aria-expanded="false"><i
                                class="ri-table-line iq-arrow-left"></i><span>Quản Lí</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="tables" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">

                            <li>
                                <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse"
                                   aria-expanded="false"><i class="lab la-elementor iq-arrow"></i><span>Kho
                                 Hàng</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                                <ul id="ui-elements" class="iq-submenu collapse" data-parent="#tables">
                                    <li><a href="#"><i class="las la-palette ml-5"></i>Tồn Kho Gạo</a></li>
                                    <li><a href="#"><i class="las la-magnet ml-5"></i>Tồn Kho Bún</a></li>
                                    <!--                                    <li><a href="ui-tooltips.html"><i class="las la-magnet ml-5"></i>Sắp Hết Gạo</a></li>-->
                                </ul>
                            </li>
                            <li><a href="#"><i class="ri-database-line"></i>Đơn Hàng</a></li>

                            <li><a href="/purchase"><i class="ri-database-line"></i>Nhập Hàng</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#forms" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                                class="lab la-wpforms iq-arrow-left"></i><span>Tiền Bạc</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="forms" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="form-layout.html"><i class="las la-book"></i>Thu</a></li>
                            <li><a href="form-validation.html"><i class="las la-edit"></i>Chi</a></li>
                            s
                        </ul>
                    </li>

                    <li>
                        <a href="#charts" class="iq-waves-effect collapsed" data-toggle="collapse"
                           aria-expanded="false"><i
                                class="ri-pie-chart-box-line iq-arrow-left"></i><span>Đặt hàng</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="charts" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="/customer_order"><i class="ri-folder-chart-2-line"></i>Khách Hàng</a></li>
                            <li><a href="chart-apex.html"><i class="ri-folder-chart-2-line"></i>Nhà Cung Cấp</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>
    <th:block th:replace="/layout/sidebar/left_side_bar.html"></th:block>
    <!-- TOP Nav Bar -->
    <th:block th:replace="/layout/topNav/topNav :: topNav"></th:block>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">

                                <a class="font-size-20 font-weight-bold" href="/customer">Khách Hàng</a>
                            </div>
                            <div class="btn btn-primary">
                                <i class="fa fa-plus"></i>
                                <a class="text-white create"
                                   data-toggle="modal"
                                   data-target="#modalCreateCustomer"
                                >Thêm khách hàng</a>
                            </div>
                        </div>
                        <div class="list_form_show">
                            <div class="filter_product_box">
                                <nav class="navbar navbar-light bg-light">
                                    <form class="form-inline">
                                        <input id="inputSearch" style="margin-left: -16px"
                                               class="form-control form-control-sm mr-sm-1"
                                               type="search" placeholder="Tìm kiếm" aria-label="Search">
                                        <div id="btnSearch" class="input-group-append">
                                            <button class="btn btn-outline-warning" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </nav>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">

                                <table id="tbCustomer" class="table table-striped table-bordered mt-4" role="grid"
                                       aria-describedby="user-list-page-info">

                                    <thead class="btn-primary">

                                    <tr class="text-center">
                                        <th>Ảnh</th>
                                        <th>Tên</th>
                                        <th>Email</th>
                                        <th>Điện Thoại</th>
                                        <th>Địa Chỉ</th>
                                        <th>Tổng tiền</th>
                                        <th>Nợ</th>
                                        <th>Trạng Thái</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    Copyright 2020 <a href="#">FinDash</a> All Rights Reserved.

                </div>
            </div>
        </div>
    </footer>

    <!-- Footer END -->

    <!-- modal them khach hang -->
    <th:block th:replace="/user/customer/modalCreateCustomer :: createCustomer"></th:block>

    <th:block th:replace="/user/customer/modalUpdateCustomer :: updateCustomer"></th:block>

    <!--    End modal create-->
</div>
<script src="/static/assets/js/app.js"></script>
<th:block th:replace="/layout/script/footer :: footer"></th:block>


</body>
<script>

    let user = new User();
    console.log(user)

    function enableTootip() {
        $('[data-toggle="tooltip"]').tooltip();
    }

    enableTootip();


    function renderUser(obj) {
        let str = `
                <tr id="tr_${obj.id}">
                    <td><img height="50" src=${obj.avatarUrl} alt="noavatar"></td>
                    <td>${obj.fullName}</td>
                     <td>${obj.email}</td>
                    <td>${obj.phone}</td>
                    <td>${obj.address}</td>
                    <td>${obj.total}</td>
                     <td>${obj.total}</td>
                    <td>${obj.status}</td>
                       <td class="w-45">
                               <a class="btn btn-outline-warning update" data-id="${obj.id}" data-toggle="tooltip"
                                data-toggle="modal" data-target="#modalUpdateCus"
                                data-original-title="Edit" >
                                Edit
<!--                                  <i class="ri-pencil-line"></i>-->
                               </a>
                       </td>
                </tr>
            `;
        return str;
    }

    function loadUsers() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/users/getUserByRoleId/" + 2 ,
        }).done((data) => {
            console.log(data)
            data.forEach(item => {
                let str = renderUser(item);
                $("#tbCustomer tbody").prepend(str);
            });
            enableTootip();
            showModalUpdateCus();
        }).fail((jqXHR) => {
            console.log(jqXHR);
        })
    }

    loadUsers();

    function getUserById(userId) {
        return (
            $.ajax({
                headers: {
                    "Accept": 'application/json',
                    "Content-type": 'application'
                },
                type: "GET",
                url: "http://localhost:8080/api/users/" + userId,
            }).done((data) => {
                // showModalUpdateCus(data);
            }).fail((jxHQR) => {
                console.log(jxHQR)
            })
        )

    }

    $(".create").on('click', function () {
        $("#modalCreateCustomer").modal('show')
    });

    let btnCreate = $("#btnCreateCus");

    btnCreate.on("click", function () {
        let createUser = {
            "roleId": 0,
            "fullName": $('#nameCus').val(),
            "phone": $('#phoneCus').val(),
            "email": $('#emailCus').val(),
            "address": $('#addressCus').val(),
            "avatarUrl": $('#avatar').val(),
        }
        console.log(createUser)
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "POST",
            url: "http://localhost:8080/api/users/createCustomer",
            data: JSON.stringify(createUser)
        }).done((data) => {
            console.log(data)
            let str = renderUser(data)
            $("#tbCustomer tbody").prepend(str);
            App.iziToast.showSuccessAlert("Thêm mới thành công")
            $("#modalCreateCustomer").modal('hide')
            enableTootip();
            showModalUpdateCus()
        }).fail((jqHRX) => {
            console.log(jqHRX)
        });
    })

    $("#modalCreateCustomer").on("hidden.bs.modal", function () {
        // $("#modalUpdateProduct .modal-alert-danger").empty();
        $("#frmCreateCus")[0].reset();
        // $("#frmCreateCus").validate().resetForm();
        $('#modalCreateCustomer .modal-alert-danger').removeClass('show').addClass('hide');
    });


    function showModalUpdateCus() {
        $(".update").on('click', function () {
            let userId = $(this).data("id");
            getUserById(userId).then((data) => {
                $('#idCusUp').val(userId)
                $('#nameCusUp').val(data.fullName);
                $('#emailCusUp').val(data.email);
                $('#phoneCusUp').val(data.phone);
                $('#addressCusUp').val(data.address);
                $('#avatarUp').val(data.avatarUrl)
                $('#modalUpdateCus').modal('show');
            })
        })
    }

    let btnUpdateCus = $('#btnUpdateCus');
    btnUpdateCus.on('click', function () {
        let userId = $('#idCusUp').val();
        let createUser = {
            "fullName": $('#nameCusUp').val(),
            "phone": $('#phoneCusUp').val(),
            "email": $('#emailCusUp').val(),
            "address": $('#addressCusUp').val(),
            "avatarUrl": $('#avatarUp').val(),
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "PUT",
            url: "http://localhost:8080/api/users/update/" + userId,
            data: JSON.stringify(createUser)
        }).done((data) => {
            console.log(data)
            let str = renderUser(data)
            $("#tr_" + userId).replaceWith(str);
            App.iziToast.showSuccessAlert("Cập nhật thành công")
            $("#modalUpdateCus").modal('hide')
            enableTootip();
        }).fail((jqHRX) => {
            console.log(jqHRX)
        });
    })

    function doSearchUser() {
        $('#btnSearch').on('click', function () {
            let keyword = $('#inputSearch').val();
            console.log(keyword)
            $('#tbCustomer tbody').html("")
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                type: "GET",
                url: "http://localhost:8080/api/users/searchCus/" + keyword
            }).done((data) => {
                console.log(data)

                $.each(data, (i, item) => {
                    let str = renderUser(item);
                    console.log(str);
                    $('#tbCustomer tbody').prepend(str);
                    showModalUpdateCus()
                })


            }).fail((jqXHR) => {
                console.log(jqXHR)
            })
        })
    }

    doSearchUser();

</script>

</html>