<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<th:block th:fragment="createCustomer">
    <div class="modal fade" id="modalCreateCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo Khách Hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form class="" id="frmCreateCus">
                        <div class="form-row">

                            <div class="col-sm-5">
                                <div class="form-group ">
                                    <label for="nameCus">Tên Khách Hàng</label>
                                    <input type="text" class="form-control" name="nameCus" id="nameCus"
                                           placeholder="Nguyễn Văn A">
                                </div>
                                <div class="form-group ">
                                    <label for="emailCus">Email</label>
                                    <input type="text" class="form-control" name="emailCus" id="emailCus"
                                           placeholder="24 Nguyễn Tri Phương">
                                </div>
                                <div class="form-group ">
                                    <label for="phoneCus">Điện Thoại</label>
                                    <input type="number" class="form-control" name="phoneCus" id="phoneCus"
                                           placeholder="0123456789">
                                </div>
                                <div class="form-group ">
                                    <label for="addressCus">Địa Chỉ</label>
                                    <input type="text" class="form-control" name="addressCus" id="addressCus"
                                           placeholder="24 Nguyễn Tri Phương">
                                </div>
                            </div>
                            <div class="col-sm-7 ">
                                <div style="margin-top: 40px" class="text-center">
                                    <img height="200"
                                         src="https://png.pngtree.com/png-vector/20210129/ourlarge/pngtree-boys-default-avatar-png-image_2854357.jpg"
                                         alt="no_avatar">
                                    <input type="text" placeholder="image..." name="avatar" id="avatar">
                                </div>
                            </div>

                        </div>
                    </form>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" id="btnCreateCus" class="btn btn-primary">Thêm Mới</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</th:block>