<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<th:block th:fragment="createCustomer">
    <div class="modal fade" id="modalCreateCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="exampleModalLabel">Tạo Khách Hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form class="" id="frmCreateCus">
                        <div class="form-row">

                            <div class="col-sm-12">
                                <div class="form-group ">
                                    <label class="label" for="nameCus">Tên Khách Hàng</label>
                                    <input type="text" class="form-control" name="nameCus" id="nameCus">
                                </div>
                                <div class="form-group ">
                                    <label class="label" for="emailCus">Email</label>
                                    <input type="text" class="form-control" name="emailCus" id="emailCus">
                                </div>
                                <div class="form-group ">
                                    <label class="label" for="phoneCus">Điện Thoại</label>
                                    <input type="tel" class="form-control" name="phoneCus" id="phoneCus">
                                </div>
                                <div class="form-group ">
                                    <label class="label" for="addressCus">Địa Chỉ</label>
                                    <input type="text" class="form-control" name="addressCus" id="addressCus">
                                </div>
                            </div>
                        </div>
                    </form>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" id="btnCreateCus" class="btn btn-primary">Thêm Mới</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</th:block>