<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  lang="en">
<th:block th:fragment="topNav">
  <div class="iq-top-navbar">
    <div style="margin-top: 13px;" class="iq-navbar-custom">
      <nav class="navbar navbar-expand-lg navbar-light p-0">

        <div class="iq-search-bar">
          <form  class="searchbox">
            <label>
              <input id="inputSearch" type="text" class="text search-input" placeholder="Search...">
            </label>
            <a  id="btnSearch" class="search-link" ><i class="ri-search-line"></i></a>
          </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto navbar-list">

          </ul>
        </div>
        <ul class="navbar-list">
          <li class="line-height">
             <div></div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</th:block>